.banner {
    padding: 20px;
    position: relative;
    text-align: center;
	
    img {
    	max-width: 100%;
    }

    @media screen and (max-width: 1000px){
	    padding: 10px;
	}

    &-1 {
    	background: @black;
    }

    &-2 {
    	background: #e6e6e6;
    }
}
