.bottom-navigation {
	padding: 0 0 22px 28px;

		@media screen and (max-width: 1000px){
			padding: 17px 10px 16px;
		}
	
	&__list {
		width: 50%;
		overflow: hidden;
		zoom: 1;

		@media screen and (max-width: 1000px){
			width: 100%;
			text-align: center;
		}
	}

	&__item {
		padding: 0 15px 4px 0;
		float: left;
		position: relative;
		font-family: @font-family-reforma-demi;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1px;

		@media screen and (max-width: 1000px){
			float: none;
			display: inline-block;
			padding: 0;
			margin: 0 10px 1px 0;
			font-size: 12px;
			line-height: 12px;
			font-family: @font-family-proxima-regular;
			text-transform: none;
			letter-spacing: normal;
		}
	}

	&__link {
		color: #a3a3a3;

		&:hover {
			color: @black;
		}
	}
}