.bottom-site-map {
	padding: 27px 8px 22px 28px;
	overflow: hidden;
	zoom: 1;

		@media screen and (max-width: 1000px){
			padding: 17px 40px 10px;
			text-align: center;
			border-bottom: 1px solid #e5e5e5;
		}


	&__list {
		width: 12.8%;
		float: left;
		position: relative;

		&:last-child {
			width: 10.3%;
			text-align: right;
		}

		@media screen and (max-width: 1000px){
		    display: inline-block;
		    float: none;
		    width: auto;
		    vertical-align: top;

		    margin: 0 15px 8px 0;

		    &:last-child {
				width: auto;
			}
		}
	}

	&__title {
		padding: 0 20px 9px 0;
		font-family: @font-family-reforma-demi;
		font-size: 24px;
		text-transform: uppercase;

		&-link {
			color: @black;
			
			&:hover {
				color: @mint;
			}
		}

		@media screen and (max-width: 1000px){
			padding: 0;
			font-size: 16px;
			line-height: 17px;
		}

	}

	&__item {
		padding: 0 20px 0 0;
		line-height: 22px;

		&-link {
			color: #8d8d8d;

			&:hover {
				color: @black;
			}
		}

		.mobile-hide;
	}
}