/*Fonts
******************************************************************************************************************************/
@font-face {
    font-family: 'reformagroteskboldcregular';
    src: url('../../style/fonts/reformagroteskboldc-webfont.eot');
    src: url('../../style/fonts/reformagroteskboldc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../style/fonts/reformagroteskboldc-webfont.woff') format('woff'),
         url('../../style/fonts/reformagroteskboldc-webfont.ttf') format('truetype'),
         url('../../style/fonts/reformagroteskboldc-webfont.svg#reformagroteskboldcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reformagroteskdemicregular';
    src: url('../../style/fonts/reformagroteskdemic-webfont.eot');
    src: url('../../style/fonts/reformagroteskdemic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../style/fonts/reformagroteskdemic-webfont.woff') format('woff'),
         url('../../style/fonts/reformagroteskdemic-webfont.ttf') format('truetype'),
         url('../../style/fonts/reformagroteskdemic-webfont.svg#reformagroteskdemicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reformagroteskmediumcregular';
    src: url('../../style/fonts/reformagroteskmediumc-webfont.eot');
    src: url('../../style/fonts/reformagroteskmediumc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../style/fonts/reformagroteskmediumc-webfont.woff') format('woff'),
         url('../../style/fonts/reformagroteskmediumc-webfont.ttf') format('truetype'),
         url('../../style/fonts/reformagroteskmediumc-webfont.svg#reformagroteskmediumcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reformagrotesklightcregular';
    src: url('../../style/fonts/reformagrotesklightc-webfont.eot');
    src: url('../../style/fonts/reformagrotesklightc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../style/fonts/reformagrotesklightc-webfont.woff') format('woff'),
         url('../../style/fonts/reformagrotesklightc-webfont.ttf') format('truetype'),
         url('../../style/fonts/reformagrotesklightc-webfont.svg#reformagrotesklightcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../../style/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../style/fonts/ProximaNova-Bold.otf')  format('opentype'),
        url('../../style/fonts/ProximaNova-Bold.woff') format('woff'),
        url('../../style/fonts/ProximaNova-Bold.ttf')  format('truetype'),
        url('../../style/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../../style/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../style/fonts/ProximaNova-Regular.otf')  format('opentype'),
        url('../../style/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../../style/fonts/ProximaNova-Regular.ttf')  format('truetype'),
        url('../../style/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*General
******************************************************************************************************************************/
html,
body,
input,
textarea {
    font-family: @font-family-proxima-regular;
	font-size: @font-size-base;
	line-height: 1;	
	color: @black;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
    color: @black;
	&:hover {
		text-decoration: none;
        color: @black;
	}
}


html,
body {
	height: 100%;
	background: #f3f3f3;
}

/*Headers
******************************************************************************************************************************/
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.title-h2 {
    font-family: @font-family-reforma-light;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    &__link {
        color: @black;
        display: inline-block;

        &:hover {
            color: @mint;
        }
    }
}

/*Structure
******************************************************************************************************************************/
.container {
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    background: @white;
}

.logo {
    width: 207px;
    height: 51px;
    padding: 0 0 16px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.middle {
    position: relative;
}