.competitions {
	
	@media screen and (max-width: 1000px) {
		background-color: #fff;
	}

	&__title {
		padding: 10px 0 6px;
		text-align: center;

		@media screen and (max-width: 1000px) {
            padding: 6px 20px 0;
            font-size: 60px;
            line-height: 65px;
            text-align: center;
        }
	}


	&-list {

		&__item {
			overflow: hidden;
			height: 176px;
			padding: 0;
			margin: 0 10px 10px;
			background: @white;

	        @media screen and (max-width: 1000px) {
				height: 362px;
				width: 201px;
				.float-left;

				margin: 10px 5px;
				background-color: #efefef;
			}

			@media screen and (max-width: 767px) {
				margin-left: 10px;
			}
		}

		&__image {
			// width: 201px;
			height: 176px;
			display: block;
			background: @grey;
			overflow: hidden;

			@media screen and (min-width: 1000px) and (max-width: 1100px) {
				
				img {
					margin-left: -30%;
				}
			}

	        @media screen and (max-width: 1000px) {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;

				img {
					margin: 0;
				}
			}

		}

		&__description {
			overflow: hidden;
			padding: 11px 10px 15px 13px;
			.float-right;
			width: 200px;

	        @media screen and (max-width: 1000px) {
				background-color: #efefef;
				padding: 187px 11px 11px 13px;
				width: 100%;
				float: none;
			}
		}

		&__title {
	        margin-bottom: 9px;
	        font-family: @font-family-reforma-demi;
	        font-size: 24px;
	        line-height: 22px;
	        font-weight: normal;
	        text-transform: uppercase;

	        &-link {
	        	color: @black;

	        	&:hover {
	        		color: @mint;
	        	}
	        }
	    }

	    &__article {
	        line-height: 17px;
	        color: #8d8d8d;
	    }
	}
}