.get-more {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    width: 100%;
    padding-top: 23px;
    height: 73px;
    padding-bottom: 24px;
    .box-sizing(border-box);

    *,
    *:after,
    *:before {
        .box-sizing(border-box);
    }

    text-align: center;

    &__link {
        font-family: @font-family-reforma-demi;
        font-size: 22px;
        line-height: 26px;

        position: relative;

        display: inline-block;

        padding-right: 34px;

        text-transform: uppercase;

        color: @mint;

        &:hover,
        &:focus {
        	color: @black;

            .get-more__arrow {
                .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, -62px);
            }
        }

        &.dark-bg {
            &:hover,
            &:focus {
                color: @white;

                .get-more__arrow {
                    .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, 0);
                }
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 25px;
        height: 21px;
        margin-top: -10px;

        .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, -31px);
    }
}
