.grid-1 {
    .clearfix();
    position: relative;

    &__col-1 {
        width: 853px;
        margin: 0 -100% 0 0;
        .float-left();
    }

     &__col-2 {
        width: 422px;
        .float-left();
        left: 853px;
        z-index: 11;

        &-bg {
            // .icon(422px, 100%, 0, 853px, 10);
            &-grey {
                background: #f3f3f3;
            }
        }
    }
}

.grid-bottom-indent {
    padding-bottom: 75px;
}


.grid {

    .clearfix();
    .box-sizing(border-box);

    *,
    *:after,
    *:before {
        .box-sizing(border-box);
    }

    &--black {
        background-color: #000;
    }
    &--grey {
        background-color: #f3f3f3;
    }
    &--dark {
        background-color: #262626;
    } 
}

[class*='grid-col-'],
[class*='grid-col-'] {
    float: left;
    position: relative;

    *,
    *:after,
    *:before {
        .box-sizing(border-box);
    }
}

.grid-col--right {
    float: right;
}

.grid-col--white {
    background-color: #fff;
}

.grid-col--green {
    background-color: green;
}

.grid-col-5-of-6 {
    width: 83.33333%;
}

.grid-col-4-of-6 {
    // width: 66.66666%;
    width: 66.93%;
}

.grid-col-3-of-6 {
    width: 50%;
}

.grid-col-2-of-6 {
    // width: 33.33333%;
    width: 33.07%;
}

.grid-col-1-of-6 {
    width: 16.66666%;
}


.grid-col-fixed-4-of-6 {
    width: 854px;
}

.grid-col-fixed-2-of-6 {
    width: 422px;

}

.grid-col-fixed-1-of-6 {
    width: 211px;
}

.mobile-grid-col-fixed-1-of-6 {
    
    @media screen and (max-width: 1000px){
        width: 211px;
    }
}

.tablet-grid-col-fixed-1-of-6 {
    
    @media screen and (max-width: 1292px){
        width: 211px;
    }
}

.grid-item-height {
    &-1x {
        height: 362px;
    }

    &-2x {
        height: 724px;
    }
}


.grid-table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    @media screen and (max-width: 767px){
        display: block;
    }

    &-col--white {
        background-color: #fff;
    }

    &-col--bd {
        border-width: 5px;
        border-style: solid;
    }

    &-col--black-bd {
        border-color: #000;
    }    
}

[class*='grid-table-col-'] {
    display: table-cell;
    padding: 0;
}

.grid-table-col--bd {
    border-width: 5px;
    border-style: solid;
}

.grid-table-col-5-of-6 {
    width: 83.33333%;
}

.grid-table-col-4-of-6 {
    // width: 66.66666%;
    width: 66.93%;
    
}

.grid-table-col-3-of-6 {
    width: 50%;
}

.grid-table-col-2-of-6 {
    // width: 33.33333%;
    width: 33.07%;
}

.grid-table-col-1-of-6 {
    width: 16.66666%;
}

.grid-row {
    display: table-row;
}



/* Paddings and margins */

.p5 {
    padding: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.mobile-no-padding {
     @media screen and (max-width: 768px) {
        padding: 0;
    }
}



.mobile-pl10-only {
     @media screen and (max-width: 768px) {
        padding-left: 10px;
        padding-right: 0;
    }
}

.neg-mt5 {
    margin-top: -5px;
}

.neg-mt10 {
    margin-top: -10px;

    @media screen and (max-width: 1000px) {
        margin-top: 0;
    }
}

.neg-mb5 {
    margin-bottom: -5px;
}

.has-more {
    padding-bottom: 73px;
    position: relative;

    @media screen and (max-width: 1000px) {
        padding-bottom: 0;
    }
}

.mobile-full-width {

    @media screen and (max-width: 767px) {
        display: block;
        float: none;
        width: 100%;
    }
}

.tablet-full-width {

    @media screen and (max-width: 1000px) {
        display: block;
        float: none;
        width: 100%;
    }
}

.mobile-hide {

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.desktop-hide {

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.blank-block {
    background-color: transparent;
}