.slider-arrow {
	
	display: block;
	width: 47px;
	height: 47px;

	&--left {
		.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, 0, 0);

		&:hover {
			.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, 0, -67px);
		}
		
		&-blue {
			.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, 0, -67px);

			&:hover {
				.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, 0, -134px);
			}
		}
	}

	&--right {

		.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, -57px, 0);

		&:hover {
			.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, -57px, -67px);
		}


		&-blue {
			background-position: right bottom;
			.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, -57px, -67px);

			&:hover {
				.retina-image('../images/slider-arrows', 'png', no-repeat, 104px, auto, -57px, -134px);
			}
		}
	}


}