@font-face {
  font-family: 'fontello-star';
  src: url('../fonts/fontello.eot?77114039');
  src: url('../fonts/fontello.eot?77114039#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?77114039') format('woff'),
       url('../fonts/fontello.ttf?77114039') format('truetype'),
       url('../fonts/fontello.svg?77114039#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77114039#fontello') format('svg');
  }
}
*/
 
[class^="iconfont-"]:before, [class*=" iconfont-"]:before {
  font-family: "fontello-star";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 11px;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
// .iconfont-star-1:before { 	content: '\e800'; color: inherit;} /* '' */
// .iconfont-star-2:before { 	content: '\e801'; color: inherit;} /* '' */
.iconfont-star:before { 	content: '\e802'; color: inherit;} /* '' */
// .iconfont-star-3:before { 	content: '\e803'; color: inherit;} /* '' */


.iconfont-star {

	margin-right: 2px;
	
	&--white {
		color: #fff;
	}

	&--white-darken {
		color: #9d9d9d;
	}

	&--grey {
		color: #bababa;
	}

	&--grey-lighten {
		color: #d6d6d6;
	}

	&--mint {
		color: @mint;
	}
}