.label {
    display: block;
    text-transform: uppercase;
    font-family: @font-family-proxima-bold;
    
    .box-sizing(border-box);

    &--small {
        height: 21px;
        padding: 0 5px;
        border: 1px solid;
        border-radius: 2px;
        font-size: 12px;
        line-height: 21px;
    }

    &--white {
        border-color: @white;
        color: @white;
    }

    &--grey {
        border-color: @grey;
        color: @grey;
    }

    &-mint {
        border-color: @mint;
        color: @mint;
    }

    & + * {
        margin-left: 10px;
    }
}
