
.main-events {
    &__top {
        padding: 10px 0 0;
    }
    &__title {
        padding: 0 0 4px;
        text-align: center;

        &-inner {
            display: inline-block;
            vertical-align: top;
            position: relative;
        }
        
        @media screen and (max-width: 1000px) {
            padding: 6px 20px 0;
            font-size: 60px;
            line-height: 65px;
            text-align: center;
            margin-bottom: -3px;
        }

    }
    &__sub-navigation {
        margin: 0 10px;
    }

    &__place {
        position: absolute;
        left: 100%;
        top: 7px;
        margin-left: 20px;
        padding-left: 12px;
        
        display: block;
        
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &__place-select-label {
        
        position: absolute;
        z-index: 9;
        display: block;
        left: 0;
        top: 0;

        color: #a3a3a3;
        font-family: @font-family-reforma-demi;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;

    }
    
    &__place-select-wrapper {
       display: block;
    }

    &__place-select {
        height: auto;
        right: auto;
        left: 13px;
        z-index: 10;

        &.hasCustomSelect {
            font-size: 14px !important;
        }

        &.customSelect {
            z-index: 9;
            left: auto;

            white-space: nowrap;
            display: block;

            height: auto;
            padding: 0 25px 0 0;
            margin: 0;
            border: none;
            color: #a3a3a3;
            font-family: @font-family-reforma-demi;
            font-size: 18px;
            line-height: 20px;
            background-color: transparent;
            text-transform: uppercase;

            &:after {
                border-color: #bababa transparent transparent transparent;
                top: 50%;
                margin-top: -2px;
            }

            &.customSelect.customSelectHover,
            &.customSelect.customSelectFocus {
                color: @black;
                
                &:after {
                    border-color: @black transparent transparent transparent;
                }
            }

        }
    }
}

.bottom {
    position: relative;

    @media screen and (max-width: 1000px) {
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &-logo{
        .position-absolute(auto, 30px, 24px, auto, 11);
        opacity: .2;

        width: 207px;
        height: 51px;
        
        img {
            display: block;
        }

        @media screen and (max-width: 1000px) {
            opacity: 1;
            position: static;
            margin: 0 auto;
        }
    }
}