.map {

	position: relative;
	
	&__title {
		padding-top: 9px;
		font-size: 80px;
		line-height: 87px;
		margin-bottom: -2px;
		text-align: center;
		color: #000;

		font-family: @font-family-reforma-light;

		@media screen and (max-width: 1000px) {
            padding: 6px 120px 0 20px;
            font-size: 60px;
            line-height: 65px;
            text-align: left;
        }
	}

	&__container {
		height: 382px;
		width: 100%;
		background-color: #e6e6e6;
		
		@media screen and (max-width: 1000px) {
			height: 256px;
		}
	}

	&__navigation {
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}

	&__select-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 3px;
		display: none;

		@media screen and (max-width: 1000px) {
			display: block;
		}
	}
	
	&__select {
		z-index: 10;
		height: auto;
		right: 0;

		&.customSelect {
			z-index: 9;
			
			height: auto;
			border: none;
			color: @mint;
			font-family: @font-family-reforma-demi;
			font-size: 16px;
			line-height: 18px;
			background-color: transparent;
			text-transform: uppercase;

			&:after {
				border-color: @mint transparent transparent transparent;
			}
		}
	}
}