
.sb-slidebar {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
    position: fixed;
    top: 0;
    z-index: 0; /* Slidebars sit behind sb-site. */
    display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
    background-color: #222222; /* Default Slidebars background colour, overwrite this with your own css. */
    -webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

@media screen and (max-width: 1000px) {

    #sb-site, .sb-site-container, .sb-slidebar {
      /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }

    html, body {
      width: 100%;
      overflow-x: hidden; /* Stops horizontal scrolling. */
    }

    html {
      height: 100%; /* Site is as tall as device. */
    }

    body {
      min-height: 100%;
      height: auto;
      position: relative; /* Required for static Slidebars to function properly. */
    }

    /* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
    html.sb-scroll-lock.sb-active:not(.sb-static) {
      overflow: hidden;
    }

    /* ----------
     * 002 - Site
     */

    #sb-site, .sb-site-container {
      /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
      width: 100%;
      position: relative;
      z-index: 1; /* Site sits above Slidebars */
      background-color: #ffffff; /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
    }

    /* ---------------
     * 003 - Slidebars
     */

    .sb-left {
      left: 0; /* Set Slidebar to the left. */
    }

    .sb-right {
      right: 0; /* Set Slidebar to the right. */
    }

    html.sb-static .sb-slidebar,
    .sb-slidebar.sb-static {
      position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
    }

    .sb-slidebar.sb-active {
      display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
    }

    .sb-style-overlay {
      z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
    }

    .sb-momentum-scrolling {
      -webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
    }

    /* Slidebar widths for browsers/devices that don't support media queries. */
      .sb-slidebar {
        width: 30%;
      }
      
      .sb-width-thin {
        width: 15%;
      }
      
      .sb-width-wide {
        width: 45%;
      }



    /* ---------------
     * 004 - Animation
     */

    .sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
      -webkit-transition: -webkit-transform 400ms ease;
         -moz-transition: -moz-transform 400ms ease;
           -o-transition: -o-transform 400ms ease;
              transition: transform 400ms ease;
      -webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
      -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
    }

    /* --------------------
     * 005 - Helper Classes
     */
     
    .sb-hide { 
      display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
    }
}