.float-right {
	float: right;
	position: relative;
}

.float-left {
	float: left;
	position: relative;
}

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
		// width: 100%;
	}
	&:after {
		clear: both;
	}
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
					box-shadow: @shadow;
}

.icon(@width, @height, @top, @left, @z-index) {
	width: @width;
	height: @height;
	display: block;
	position: absolute;
	top: @top;
	left: @left;
	z-index: @z-index;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.position-absolute(@top, @right, @bottom, @left, @z-index) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
	z-index: @z-index;
}


.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


/*Single side border-radius
**********************************************************************************************************************/
.border-top-radius(@radius) {
	border-top-right-radius: @radius;
	border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
	border-bottom-left-radius: @radius;
	border-top-left-radius: @radius;
}

/*Transitions
**********************************************************************************************************************/
.transition(@transition) {
	-webkit-transition: @transition;
			 -o-transition: @transition;
					transition: @transition;
}
.transition-property(@transition-property) {
	-webkit-transition-property: @transition-property;
					transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
	-webkit-transition-delay: @transition-delay;
					transition-delay: @transition-delay;
}
.transition-duration(@transition-duration) {
	-webkit-transition-duration: @transition-duration;
					transition-duration: @transition-duration;
}
.transition-timing-function(@timing-function) {
	-webkit-transition-timing-function: @timing-function;
					transition-timing-function: @timing-function;
}
.transition-transform(@transition) {
	-webkit-transition: -webkit-transform @transition;
		 -moz-transition: -moz-transform @transition;
			 -o-transition: -o-transform @transition;
					transition: transform @transition;
}

/*Box-sizing
**********************************************************************************************************************/
.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
		 -moz-box-sizing: @boxmodel;
					box-sizing: @boxmodel;
}

/*Box-shadow
**********************************************************************************************************************/
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
					box-shadow: @shadow;
}



/* Retina
**********************************************************************************************************************/

.retina-image(@file, @file-type, @repeat, @width, @height, @posx, @posy) {

	background-image: url('@{file}.@{file-type}');
	background-repeat: @repeat;
	background-position: @posx @posy;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and ( min--moz-device-pixel-ratio: 1.5),
		only screen and ( -o-min-device-pixel-ratio: 3/2),
		only screen and ( min-device-pixel-ratio: 1.5),
		only screen and ( min-resolution: 144dpi),
		only screen and ( min-resolution: 1.5dppx) {
			
			-moz-background-size: @width @height;
			-o-background-size: @width @height;
			-ms-background-size: @width @height;
			-webkit-background-size: @width @height;
			background-size: @width @height;

			background-image: url('@{file}@2x.@{file-type}');
	}
}