.opinions {

    @media screen and (max-width: 1000px) {
        background-color: #e8e8e8;
        padding: 0 20px;
    }

    &__title {
        padding: 10px 27px 24px;

        @media screen and (max-width: 1000px) {
            padding: 6px 20px 0;
            font-size: 60px;
            line-height: 65px;
            text-align: center;
        }
    }

    &-list {
        
        // @media screen and (max-width: 767px){
            // display: table !important;
        // }

        &__item {
            padding: 0 20px 0 114px;
            margin: 0 0 29px;
            border-bottom: 1px solid #ededed;

            &--last {
                margin-bottom: 0;
            }

            @media screen and (max-width: 1000px) {
                padding: 0;
                background-color: #fff;
            }

            @media screen and (max-width: 767px){
                margin: 0;
                border-bottom: 0;
                // display: table-cell !important;
                // height: 100% !important;
            }

        }

        &__top {
            padding: 0 0 16px;
            .clearfix();
            line-height: 16px;

            @media screen and (max-width: 1000px){
                padding: 13px 13px 11px 53px;
            }
        }

        &__author {
            padding: 0 14px 0 0;
            .float-left();
            font-family: @font-family-proxima-bold;
            font-size: 16px;

            &-avatar {
                background: grey;
                border-radius: 50%;
                .icon(54px, 54px, 2px, -85px, 11);
            }

            
            @media screen and (max-width: 1000px) {

                padding: 0;
                margin-bottom: 3px;
                float: none;

                &-avatar {
                    .icon(30px, 30px, 2px, -39px, 11);
                }
            }


        }

        &__stars {
            .float-left();
            margin: 2px 8px 0 0;
            line-height: 11px;

            @media screen and (max-width: 1000px) {
                margin: 1px 10px 0 0;
            }
        }

        &__date {
            .float-left();
            top: 1px;
            color: #8d8d8d;

            @media screen and (max-width: 1000px) {
                top: auto;
            }
        }

        &__teaser {
            width: 370px;
            margin: 0 0 14px;

            @media screen and (max-width: 1000px) {
                width: auto;
                margin: 0;
            }
        }

        &__article {
            padding: 0 80px 23px 0;
            display: block;
            font-size: 16px;
            line-height: 22px;

            @media screen and (max-width: 1000px) {
                padding: 15px 14px 4px;
                font-size: 14px;
            }
        }

        

        &__link {

            &--black-link {

                color: @black;

                &:hover {
                    color: @mint;
                }
            }
        }

        &__bottom {
            .clearfix();
            padding: 0 0 26px;

            @media screen and (max-width: 1000px) {
                padding: 0 14px 11px;
            }
        }

        &__comments {
            padding: 0 15px 0 0;
            .float-left();
            font-family: @font-family-proxima-bold;
        }

        &__thanks {
            .float-left();
            font-family: @font-family-proxima-bold;
        }
    }

    &__list-item-arrow {
        display: none;

        @media screen and (max-width: 767px) {
            margin-left: 5px;
            margin-bottom: 5px;
            vertical-align: bottom;
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: transparent;

            .retina-image('../images/more-text', 'png', no-repeat, 13px, 13px, 0, 0);
        }
    }
}


