.rating-leisure-time {

    display: block;
    padding:25px 0 40px 0;
    text-align: center;
    background-color: #fff;
    height: 100%;

    &__title-h2{
        padding:0 0 5px 0;
        font-family: @font-family-reforma-light;
        font-size:80px;
        line-height:70px;
        text-transform: uppercase;

        color: @black;

        @media screen and (max-width: 1000px) {
            font-size: 60px;
            line-height: 60px;
        }
    }

    &__title-small{
        font-size:28px;
        line-height:30px;
        font-family:@font-family-reforma-regular;
        color:#000;
        text-transform:uppercase;
    }

    &__txt{
        font-family:@font-family-proxima-regular;
        font-size:14px;
        line-height:18px;
        color:#a3a3a3;
    }

    &__line {
        display:inline-block;
        margin:16px 0 13px 0;
        height:0;
        border-bottom:1px solid #d9d9d9;
        width:49%;
        text-align:center
    }

    &:hover,
    &:focus {
        
        .rating-leisure-time {

            &__title-h2,
            &__title-small {
                color: @mint;
            }

        }
    }

}
