.rating-leisure-tabs {

    position: relative;
    z-index: 9;

    &__container {
        
        @media screen and (max-width: 767px) {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-bottom: 10px !important;
        }

    }
    
    &__title {
        display: none;
        
        @media screen and (max-width: 767px) {
            display: block;

            padding: 2px 20px 0;
            font-size: 60px;
            font-family: @font-family-reforma-light;
            line-height: 65px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: -2px;
            color: #fff;
        }
    }

    &__nav {
        display: none;

        text-align: center;
        position: relative;
        z-index: 10;

        @media screen and (max-width: 767px) {
            display: block;
        }

        &-i {
            display: inline-block;
            margin: 0 5px -3px;
            padding-bottom: 8px;
            border-bottom: 3px solid transparent;

            font-size: 16px;
            line-height: 18px;
            font-family: @font-family-reforma-demi;
            text-transform: uppercase;

            a {
                color: #fff;
                display: block;

                &:hover,
                &:focus {
                    color: @mint;
                }
            }

            &--current {
                border-bottom: 3px solid @mint;

                a {
                    color: @mint;
                    cursor: default;
                }
            }
        }

    }
}

.rating-leisure-tab {
    
    @media screen and (max-width: 767px) {
        border: 0 !important;
        display: none !important;
    }

    &--show {

        @media screen and (max-width: 767px) {
            display: block !important;
        }
    }

    &__title{

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__line{

        &--first {

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

}
