.recent-events {

    &__date {
        position: absolute;
        top: 0;
        left: 14px;
        background-color: @mint;

        padding: 7px 6px 6px;
        width: 44px;
        height: 44px;
    }

    &__day {
        text-align: center;
        display: block;
        margin-bottom: 3px;
        font-size: 16px;
        line-height: 17px;
        font-family: @font-family-proxima-bold;
        color: #fff;
    }

    &__month {
        text-align: center;
        display: block;
        
        font-family: @font-family-proxima-bold;
        font-size: 10px;
        line-height: 11px;
        text-transform: uppercase;
        color: #378788;
    }
}