dl,dd,dt,ul,ol,h1,h2,h3,h4,h5,p,form,html,body {
	margin:0;
	padding:0;
}

img {
	border:0;
	vertical-align:top;
}

body {
	line-height:1;
}

ol,
ul {
	list-style-type:none;
}

:focus {
	outline:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ins {
	text-decoration:none;
}

input,
textarea,
select {
	margin:0;
}

figure {
	padding:0;
	margin:0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	padding:0;
	margin:0;
	border:0;
}

.dnone {
	display: none !important;
}