.reviews {

	background: #262626;
	text-align: center;
	height: 100%;

	@media screen and (max-width: 1000px){
		padding-bottom: 25px;
	}
	
	&__title {
		padding: 11px 20px 7px;
		&-link {
			color: @white;
			&:hover {
				color: @mint;
			}
		}

		@media screen and (max-width: 1000px) {
            padding: 6px 20px 0;
            font-size: 60px;
            line-height: 65px;
            text-align: center;
        }
	}
	&__hr {
		border-bottom: 1px solid #353535;
		margin: 0 27.2%;
		display: block;
		font-size: 0;
		line-height: 0;
	}
	&__item {
		padding: 6px 0 0;
	}
	&__label {
		display: inline-block !important;
	}
	&__article {
		padding: 10px 30px 13px;
		color: #aaa;
		line-height: 20px;
	}
	&__item-title {
		padding: 12px 20px 9px;
        font-family: @font-family-reforma-regular;
        font-size: 28px;
        line-height: 28px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;

        &-link {
			color: @white;

			&:hover {
				color: @mint;
			}
		}


		&.toggled-on {

			.reviews__item-title-link {
				color: @mint;
				&:hover {
					color: @mint;
				}
			}
		}
	}
}