
.customSelect {
    position:relative;
    width:auto !important;
    float:left;
    border:1px solid #d9d9d9;
    background:#fff;
    margin-left:-1px;
    font-size:14px;
    line-height:14px;
    font-family:@font-family-proxima-bold;
    display:inline-block;
    padding:9px 25px 7px 15px;
    height:14px;
    /* This is the default class that is used */
    /* Put whatever custom styles you want here */

    .top-search__select& {
        z-index: 110;
    }
}

.customSelect:after{
    content: ' ';
    position:absolute;
    display:block;
    top:14px;
    right:11px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #666666 transparent transparent transparent;
    z-index:11;
}

.customSelect.customSelectHover {
    /* Styles for when the select box is hovered */
}
.customSelect.customSelectOpen {
    /* Styles for when the select box is open */
}
.customSelect.customSelectFocus {
    /* Styles for when the select box is in focus */
}
.customSelectInner {
    z-index:10;
    width:auto !important;
    /* You can style the inner box too */
}

select {
    cursor: pointer;
}