.shifter-navigation {

	.box-sizing(border-box);
	
	background-color: #202020;
	padding-top: 17px;

    *,
    *:after,
    *:before {
        .box-sizing(border-box);
    }

	&__inner {
		position: relative;
		min-height: 100%;
		height: auto !important;
		margin-bottom: -50px;
	}


	&__item {
		display: block;
		margin-bottom: 16px;
	}

	&__link {
		padding-left: 15px;
		display: inline-block;
		font-size: 22px;
		line-height: 16px;
		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
		color: #fff;
		border-left: 4px solid transparent;
		vertical-align: top;
		
		&:hover,
		&:focus,
		&--current {
			color: @mint;
			border-left-color: @mint;
		}
	}


	&__select-container {
		padding-left: 19px;
		.clearfix;
	}

	&__label {
		margin-right: 3px;
		.float-left;
		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 19px;
		color: #7e7e7e;
	}
	&__select-wrap {
		.float-left;
	}

	&__select {
		z-index: 50;
		height: 19px;
		width: auto !important;
		cursor: pointer;
	}
	.customSelect {
		z-index: 40;

		padding: 0 25px 0 3px;
		border: 0;
		background-color: transparent;

		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 19px;
		color: #7e7e7e;

		&:after {
			border-top-color: #676767;
			top: 50%;
			margin-top: -2px;
		}
	}
	
	&__access,
	&__pusher {
		padding-left: 19px;
		height: 50px;
		position: relative;
		margin: 0;
		padding-top: 15px;

		.clearfix;
	}

	&__access-link {
		.float-left;
		margin-right: 10px;
		font-size: 18px;
		line-height: 20px;
		color: #7e7e7e;
		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
	}
}