.shifter-search {
	padding: 20px;

	&__item {
		display: block;
		margin-bottom: 10px;
	}
	
	&__field {
		display: block;
		width: 100%;

		padding: 7px 25px 7px 11px;
		border: 0;

		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
		color: #fff;
		background-color: #000;
	}

	&__select {
		z-index: 50;
		height: 34px;
		width: 176px !important;
		cursor: pointer;
	}

	.customSelect {
		z-index: 40;

		float: none;
		display: block !important;
		padding: 7px 25px 7px 11px;
		border: 0;
		width: 100% !important;

		font-family: @font-family-reforma-demi;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
		color: #fff;
		background-color: #000;

		&:after {
			border-top-color: #808080;
			top: 50%;
			margin-top: -2px;
		}
	}

	&__button {
		padding: 0 17px;
		cursor: pointer;
		display: inline-block;

		color: @mint;
		font-family: @font-family-proxima-bold;
		font-size: 14px;
		line-height: 32px;
		height: 32px;
		
		border: 1px solid #414141;
		.border-radius (32px);
		background-color: transparent;
	}
	
}