.slider {

	position: relative;
	overflow: hidden;

    &__mobile-container {
        .caroufredsel_wrapper {
            @media screen and (max-width: 767px) {
                width: 633px !important;
            }
        }
    }

    &__title {
    	line-height: 88px;
        margin-bottom: -5px;
        padding: 5px 140px 0 25px;

        @media screen and (max-width: 1000px) {
        	font-size: 60px;
        	line-height: 65px;
        	margin-bottom: 0;
        	padding: 6px 20px 0;
        	text-align: center;
        }
    }

    &__nav {
    	position: absolute;
    	right: 29px;
    	top: 24px;

    	.clearfix;

        @media screen and (max-width: 1000px) {
        	display: none;
        }
    }

    &__slide-conainer {
    	overflow: hidden;
    }

    &__item-prev,
    &__item-next {
    	float: left;
    }

    &__mobile-item {

        @media screen and (max-width: 767px) {
            float: left;
            position: relative;
        }
    }

    &__item-next {
    	margin-left: 10px;
    }

    &__pagination {

		display: none !important;

    	padding: 6px 0 10px;
    	width: 100%;
    	text-align: center;

    	@media screen and (max-width: 1000px) {
        	display: block !important;
        }

        &-mobile {

            @media screen and (max-width: 1000px) {
                display: none !important;
            }

            @media screen and (max-width: 767px) {
                display: block !important;
            }
        }



		a {
			display: inline-block;
			vertical-align: top;
			padding: 4px;
		
			span {
				.border-radius (10px);
				background: #000000;
				text-indent: -100px;
				line-height: 0;
				display: block;
				width: 10px;
				height: 10px;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			&.selected span {
				background: #5bd5d6;
			}
		}

		&--white {

			a span {
				background-color: #fff;
			}
		}
    }
}

