.sub-navigation {
    font-family: @font-family-reforma-demi;
    text-align: center;
    border-bottom: 1px solid;
    white-space: nowrap;
    
    &--grey-border {
        border-color: #e5e5e5;
    }

    &--tr-border {
        border-bottom-color: transparent;
    }
    
    &__inner {
        margin: 0 0 -1px;
    }
    
    &__item {
        padding: 0 0 14px;
        margin: 0 5px;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        text-transform: uppercase;
        
        @media screen and (max-width: 1000px) {
            padding-bottom: 11px;
            margin: 0 4px;
        }

        &-i {
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 1px;

            @media screen and (max-width: 1000px) {
                font-size: 16px;
            }
        }
        &--active {
            padding-bottom: 11px;
            border-bottom: 3px solid @black;
        }
    }

    &__link {
        color: @mint;

        &:hover,
        &:focus {
            color: @black;
        }
    }
}