.teaser-1 {
    width: 100%;
    max-width: 532px;
    background: #efefef;
    position: relative;
    overflow: hidden;
    zoom: 1;

    @media screen and (max-width: 1000px) {
        max-width: none;
        width: auto;
        overflow: visible;
    }
    
    
    &__image {
        width: 162px;
        height: 112px;
        background: @grey;
        .float-left();
        display: block;
        overflow: hidden;

        @media screen and (max-width: 1000px) {
            display: none;
        }


        &-inner {
            height: 100%;
            width: 100%;
            position: relative;

            .retina-image('../images/mini-pic-grad', 'png', repeat-x, 3px, auto, 0, 100%);            
        }
    }
        
    &__pic {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__label {
        height: 21px;
        padding: 0 5px;
        border: 1px solid @white;
        .position-absolute(auto, auto, 10px, 10px, 11);
        font-family: @font-family-proxima-bold;
        font-size: 12px;
        line-height: 21px;
        text-transform: uppercase;
        color: @white;

        .border-radius(2px);

        a.teaser-1__image:hover & {
            color: @mint;
            border-color: @mint;
        }

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &__description {
        overflow: hidden;
        padding: 11px 15px 0;

        @media screen and (max-width: 1000px) {
            overflow: visible;
            padding: 11px 14px;
        }
    }

    &__title {
        padding: 0 0 8px;
        font-family: @font-family-reforma-demi;
        font-size: 24px;
        line-height: 22px;
        font-weight: normal;
        text-transform: uppercase;

        @media screen and (max-width: 1000px) {
            padding: 0 0 7px;
            line-height: 26px;
        }
    }

    &__genre {
        padding: 0 0 5px;
        color: #838383;
        line-height: 18px;

        @media screen and (max-width: 1000px) {
            padding: 0;
            line-height: 15px;
        }
    }

    &__article {
        line-height: 17px;
        
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }
}

