.tile-small {

	&__image {
		height: 176px;
        width: 100%;
        // padding-bottom: 46px;
		overflow: hidden;
		position: relative;
        display: block;

        &-inner {
            height: 100%;
            width: 100%;
            padding-bottom: 46px;
            position: relative;

            .retina-image('../images/mini-pic-grad', 'png', repeat-x, 3px, auto, 0, 100%);
        }

        &-no {
            height: auto;
            background: none;
            background-color: transparent;

            .label {
                border-color: @grey;
                color: @grey;
            }

            .iconfont-star--white {
                color: #bababa;
            }

            .iconfont-star--white-darken {
                color: #d6d6d6;
            }

            .tile-small__label-rating{
                bottom: 11px;
            }

            .tile-small__image-inner {
                height: auto;
                background: none;
                background-color: transparent;
            }
        }
	}

    &__pic {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

	&__label-rating {
        .clearfix;
    	.position-absolute(auto, auto, 14px, 14px, 11);
    }

    &__description {
    	padding: 12px 10px 0 14px;
    }

	&__title {
        margin-bottom: 10px;
        font-family: @font-family-reforma-demi;
        font-size: 24px;
        line-height: 22px;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__genre {
    	padding: 0 0 7px;

  		color: #868686;
        font-size: 13px;
        line-height: 15px;
    }

    &__article {
    	line-height: 17px;
    }


    &__more-link {
        display: none;
        width: 25px;
        height: 21px;
        .position-absolute(auto, 10px, 127px, auto, 12);

        .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, 0);

        &:hover {
            .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, -31px);
        }
    }

    &__nav {
        background-color: #262626;
        .position-absolute(auto, 0, 0, 0, 12);
        width: 100%;
        display: none;
        list-style: none outside none;
    }

    &__nav-item {
        display: block;
    }

    &__nav-link {
        display: block;
        height: 39px;
        padding: 0 15px 0 14px;

        &:hover {
            background-color: #353535;
        }
        
        span {
            color: @mint;
            display: block;
            font-size: 12px;
            line-height: 38px;
            font-family: @font-family-proxima-bold;

            border-bottom: 1px solid #353535;
        }

        &--last {
            span {
                border-bottom-color: transparent;
            }
        }
    }

    @media screen and (min-width: 1000px) {

        &:hover {

            .recent-events__date {
                display: none;
            }
            
            .tile {

                &__inner {
                    background-color: #000;
                }

                &-small__image {
                    height: auto;
                    background-color: transparent;
                    // padding-bottom: 51px;

                    &-inner {
                        height: auto;
                        padding-bottom: 51px;
                        background: none;
                        background-color: transparent;
                    }

                    &-no {
                        .label {
                            border-color: @white;
                            color: @white;
                        }

                        .iconfont-star--white {
                            color: #bababa;
                        }

                        .iconfont-star--white-darken {
                            color: #d6d6d6;
                        }
                    }
                }

                &-small__pic {
                    display: none;
                }

                &-small__label-rating {
                    bottom: 16px;
                }

                &-small__description {
                    padding-top: 0;
                }

                &-small__title {
                    margin-bottom: 9px;
                    line-height: 24px;
                    color: #fff;

                    a {
                        color: #fff;

                        &:hover {
                            color: @mint;
                        }
                    }
                }

                &-small__genre {
                    color: #a3a3a3;
                }

                &-small__article {
                    color: #fff;
                }


                &-small__more-link,
                &-small__nav {
                    display: block;
                }
            }
        }
    }


    &-double {

        &__image {
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: block;

            .retina-image('../images/big-pic-grad', 'png', repeat-x, 3px, auto, 0, 100%);
        }

        &__pic {
            display: block;
            position: absolute;
            left: 0;
            top: 0;

            .tile-small-double-slide & {
                @media screen and (max-width: 1292px){
                    left: -65%;
                }
            }

            .tile-small-double-masonry & {
                @media screen and (max-width: 1000px){
                    left: -65%;
                }
            }              
        }

        &__label-rating {
            .position-absolute(auto, auto, 20px, 30px, 11);

            .tile-small-double-slide & {
                @media screen and (max-width: 1292px){
                    .position-absolute(auto, auto, 16px, 16px, 11);
                }
            }

            .tile-small-double-masonry & {
                @media screen and (max-width: 1000px){
                    .position-absolute(auto, auto, 16px, 16px, 11);
                }
            }
        }
      
        &__title {
            .box-sizing(border-box);
            width: 100%;

            padding: 0 30px;
            font-family: @font-family-reforma-regular;
            font-size: 60px;
            line-height: 58px;
            font-weight: normal;
            color: #fff;

            a {
                color: #fff;
            }

            .position-absolute(auto, auto, 46px, 0, 12);

            .tile-small-double-slide & {
                @media screen and (max-width: 1292px){
                    bottom: 42px;
                    padding: 0 16px;

                    font-size: 40px;
                    line-height: 39px;
                }
            }

            .tile-small-double-masonry & {
                @media screen and (max-width: 1000px){
                    bottom: 42px;
                    padding: 0 16px;

                    font-size: 40px;
                    line-height: 39px;
                }
            }

        }

        &__genre,
        &__article,
        &__more-link,
        &__nav {
            display: none;
        }

        @media screen and (min-width: 1000px) {


            &:hover {


                .tile__inner {
                    background-color: #000;
                    padding: 25px 60px 0 30px;
                }

                .tile-small-double {

                    &__image {
                        background: none;
                    }

                    &__pic {
                        display: none;
                    }

                    &__label-rating {
                        margin-bottom: 12px;
                        position: static;

                        .clearfix;
                    }
                  
                    &__title {
                        position: static;
                        .box-sizing(border-box);
                        width: 100%;

                        padding: 0;
                        margin-bottom: 4px;
                        font-family: @font-family-reforma-regular;
                        font-size: 60px;
                        line-height: 58px;
                        font-weight: normal;
                        color: #fff;

                        a {
                            color: #fff;

                            &:hover {
                                color: @mint;
                            }
                        }
                    }
                    

                    &__genre {
                        display: block;
                        margin-bottom: 13px;

                        color: #868686;
                        font-size: 13px;
                        line-height: 17px;
                    }

                    &__article {
                        display: block;
                        color: #fff;
                        font-size: 18px;
                        line-height: 21px;
                    }

                    &__more-link {
                        display: block;
                        width: 25px;
                        height: 21px;
                        .position-absolute(auto, 20px, 70px, auto, 12);

                        .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, 0);

                        &:hover {
                            .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, -31px);
                        }
                    }

                    &__nav {
                        background-color: #262626;
                        .position-absolute(auto, 0, 0, 0, 12);
                        width: 100%;
                        display: block;
                        list-style: none outside none;
                    }

                    &__nav-item {
                        float: left;
                        position: relative;
                        width: 33.33333%;            
                    }

                    &__nav-link {
                        display: block;
                        height: 48px;
                        padding: 4px 0;
                        text-align: center;

                        &:hover {
                            background-color: #353535;
                        }
                        
                        span {
                            color: @mint;
                            display: block;
                            font-size: 14px;
                            line-height: 40px;
                            height: 40px;
                            font-family: @font-family-proxima-bold;

                            border-right: 1px solid #353535;
                        }

                        &--last {
                            span {
                                border-right-color: transparent;
                            }
                        }
                    }
                }

            }
    
        }
        
        @media screen and (min-width: 1000px) and (max-width: 1292px) {

            &-slide:hover {


                .tile {

                    &__inner {
                        background-color: #000;
                        padding: 0;
                    }

                    &-small-double__pic {
                        display: none;
                    }

                    &-small-double__image {
                        height: auto;
                        background-color: transparent;
                        padding-top: 51px;
                    }


                    &-small-double__label-rating {
                        top: 14px;
                        left: 14px;
                        bottom: auto;
                        position: absolute;
                    }


                    &-small-double__title {
                        margin-bottom: 9px;
                        padding-right: 10px;
                        padding-left: 14px;
                        line-height: 24px;
                        color: #fff;
                        font-family: @font-family-reforma-demi;

                        font-size: 24px;
                        text-transform: uppercase;

                        a {
                            color: #fff;
                        }
                    }

                    &-small-double__genre {
                        color: #a3a3a3;
                        padding: 0 0 7px;
                        font-size: 13px;
                        margin-bottom: 0;
                        line-height: 15px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;

                        br {
                            display: none;
                        }


                        padding-right: 10px;
                        padding-left: 14px;
                    }

                   &-small-double__article {
                        color: #fff;
                        padding-right: 10px;
                        padding-left: 14px;
                        font-size: 14px;
                        line-height: 17px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                    }

                    &-small-double__more-link {
                        width: 25px;
                        height: 21px;
                        .position-absolute(auto, 10px, 127px, auto, 12);

                        .retina-image('../images/go', 'png', no-repeat, 25px, auto, 0, 0);
                    }

                    &-small-double__nav {
                        background-color: #262626;
                        .position-absolute(auto, 0, 0, 0, 12);
                        width: 100%;
                        list-style: none outside none;
                    }

                    &-small-double__nav-item {
                        display: block;
                        float: none;
                        width: 100%;
                    }

                    &-small-double__nav-link {
                        display: block;
                        height: 39px;
                        padding: 0 15px 0 14px;
                        text-align: left;

                        &:hover {
                            background-color: #353535;
                        }
                        
                        span {
                            color: @mint;
                            display: block;
                            font-size: 12px;
                            line-height: 38px;
                            font-family: @font-family-proxima-bold;

                            border-bottom: 1px solid #353535;
                            border-right: 0;
                        }

                        &--last {
                            span {
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tile__inner {

    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    // cursor: default;

    &--grey {
        background: #f3f3f3;
    }

    &--black {
        background: #000;
    }

    &--white {
        background: @white;
    }

}


.tile-top-rate {
    
    &__image {
        height: 140px;
        width: 140px;
        display: block;
        margin: 30px auto 20px;
        background: @grey;
        
        .border-radius(50%);
        overflow: hidden;

        img {
            display: block;
        }
    }

    &__label-rating {
        margin-bottom: 9px;
        text-align: center;

        @media screen and (max-width: 1000px) {
            margin-bottom: 21px;
        }
    }

    &__label {
        display: inline-block !important;
    }

    &__title {
        padding: 0 20px;
        color: #fff;
        font-family: @font-family-reforma-regular;
        font-size: 60px;
        line-height: 58px;
        font-weight: normal;
        text-align: center;

        @media screen and (max-width: 1000px) {
            padding: 0 10px;
            font-size: 40px;
            line-height: 39px;
        }
       
    }

    .tile__inner {
        display: block;

        &:hover {
            .tile-top-rate__title {
                color: @mint;
            }
        }
    }

}


.tile-double-banner {

    &__banner {
        display: block;
        margin: 60px auto 0;
    }

    &-table {

        text-align: center;   
        vertical-align: top;     

        &__wrap {
            width: 100%;
            padding-top: 60px;
            
        }

        &__banner {
            max-width: 100%;
            height: auto;
        }
    }
}
