.top-navigation {

	font-family: @font-family-reforma-demi;
	text-align: center;
	
	&__inner {
		padding: 0 0 7px;
	}
	&__item {
		padding: 0 8px 10px;
		display: inline-block;
		font-size: 0;
		line-height: 0;
		text-transform: uppercase;
	}
	&__link {
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 1px;
		color: @black;

		&:hover,
		&:focus {
			color: @mint;
		}
	}
}