.top-enter {

	.position-absolute (21px, 9px, auto, auto, 11);
	font-family: 'ProximaNova-Bold';
	font-size: @font-size-base;
	
	&__item {
		padding: 0 0 0 15px;
		float: left;
		position: relative;
		line-height: 31px;
	}
	&__link {
		color: #a3a3a3;
		&:hover,
		&:focus {
			color: @black;
		}
	}
	&__link-btn {
		height: 30px;
		margin: -1px 0;
		padding: 0 13px;
		display: inline-block;
		border: 1px solid #d9d9d9;
		border-radius: 30px;
		color: @black;
		&:hover,
		&:focus {
			color: @mint;
		}
	}
}