.top {
    padding: 20px 0 0;
    margin: 0 10px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;

	&__shifter-nav-handle {
		display: none;
		.float-left;

		@media screen and (max-width: 1000px){
		    display: block;
		}
	}

	&__shifter-search-handle {
		display: none;
		.float-right;

		@media screen and (max-width: 1000px){
		    display: block;
		}
	}

	&__shifter-nav-handle-ico,
	&__shifter-search-handle-ico {
		position: relative;
		width: 30px;
		height: 30px;
		background-color: #000;
		display: block;
		margin: 0 auto 3px;
		.border-radius (100%);

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			content: '';
			display: block;
		}

	}


	&__shifter-nav-handle-ico {
		
		&:before {
			width: 12px;
			height: 12px;
			margin-left: -6px;
			margin-top: -6px;
			.retina-image('../images/icons', 'png', no-repeat, 15px, 80px, 0, -68px);
		}

		.sb-active-left & {
			background-color: @mint;
		}
	}

	&__shifter-search-handle-ico {

		&:before {
			width: 15px;
			height: 16px;
			margin-left: -7px;
			margin-top: -8px;
			.retina-image('../images/icons', 'png', no-repeat, 15px, 80px, 0, 0);
		}

		.sb-active-right & {
			background-color: @mint;
		}
	}
	
	&__shifter-nav-handle-text,
	&__shifter-search-handle-text {
		display: block;
		font-size: 14px;
		line-height: 15px;
		color: #a3a3a3;
		text-align: center;
		text-transform: uppercase;
		font-family: @font-family-reforma-demi;
	}
}