.top-search {
    
    position:relative;

    &__inner{
        position:absolute;
        top:0px;
        left:10px;
    }

    &__input{
        width:92px;
        height:18px;
        padding:6px 12px 6px 14px;
        font-family:@font-family-proxima-bold;
        vertical-align:middle;
        .float-left;
        font-size:14px;
        line-height: 14px;
        border:1px solid #d9d9d9;
        border-top-left-radius:100px;
        border-bottom-left-radius:100px;

    }

        &__input::-webkit-input-placeholder {   
            color:#a3a3a3;
            line-height: 18px;
        }
        &__input::-moz-placeholder {   
            color:#a3a3a3;
            line-height: 18px;
        }/* Firefox 19+ */
        &__input:-moz-placeholder {   
            color:#a3a3a3;
            line-height: 18px;
        }/* Firefox 18- */
        &__input:-ms-input-placeholder {   
            color:#a3a3a3;
            line-height: 18px;
        }
        &__input:focus::-webkit-input-placeholder {color: transparent}
        &__input:focus::-moz-placeholder          {color: transparent}
        &__input:focus:-moz-placeholder           {color: transparent}
        &__input:focus:-ms-input-placeholder      {color: transparent}

    &__button{

        margin:1px 0 0 6px;
        .float-left;
        border:none;
        cursor: pointer;

        position: relative;
        width: 30px;
        height: 30px;
        background-color: @mint;
        display: block;
        .border-radius (100%);

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            display: block;
            width: 15px;
            height: 16px;
            margin-left: -7px;
            margin-top: -8px;
            .retina-image('../images/icons', 'png', no-repeat, 15px, auto, 0, 0);
        }

        &:hover,
        &:focus {
            background-color: #000;
        }
    }

    &__select{
        cursor: pointer;
        z-index: 112;

        &--wide.hasCustomSelect {
            min-width: 80px;
        }
    }

    &__no-radius{
        float:left;
        border:1px solid #d9d9d9;
    }

    &__left-radius{
        float:left;
        border-top-left-radius:100px;
        border-bottom-left-radius:100px;
    }

    &__right-radius{
        float:left;
        border-top-right-radius:100px;
        border-bottom-right-radius:100px;
    }

}

