/*Typography-variables
**********************************************************************************************************************/
@font-family-reforma-bold: 'reformagroteskboldcregular', Arial, Helvetica, 'Sans-Serif';
@font-family-reforma-demi: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
@font-family-reforma-regular: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
@font-family-reforma-light: 'reformagrotesklightcregular', Arial, Helvetica, 'Sans-Serif';

@font-family-proxima-bold: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
@font-family-proxima-regular: 'ProximaNova-Regular', Arial, Helvetica, 'Sans-Serif';

@font-size-base: 14px;

@white: #fff;
@black: #000;
@grey: #888;
@mint: #5bd5d6;

@l-width: 1270px;
@l-width-1px: 1269px;

@m-width: 960px;
@m-width-1px: 959px;

@s-width: 700px;
@s-width-1px: 699px;

@xs-width: 480px;
@xs-width-1px: 479px;