dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: top;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style-type: none;
}
:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ins {
  text-decoration: none;
}
input,
textarea,
select {
  margin: 0;
}
figure {
  padding: 0;
  margin: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}
.dnone {
  display: none !important;
}
/*Typography-variables
**********************************************************************************************************************/
.customSelect {
  position: relative;
  width: auto !important;
  float: left;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-left: -1px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  display: inline-block;
  padding: 9px 25px 7px 15px;
  height: 14px;
  /* This is the default class that is used */
  /* Put whatever custom styles you want here */
}
.top-search__select.customSelect {
  z-index: 110;
}
.customSelect:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 14px;
  right: 11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3.5px 0 3.5px;
  border-color: #666666 transparent transparent transparent;
  z-index: 11;
}
.customSelect.customSelectHover {
  /* Styles for when the select box is hovered */
}
.customSelect.customSelectOpen {
  /* Styles for when the select box is open */
}
.customSelect.customSelectFocus {
  /* Styles for when the select box is in focus */
}
.customSelectInner {
  z-index: 10;
  width: auto !important;
  /* You can style the inner box too */
}
select {
  cursor: pointer;
}
/*Typography-variables
**********************************************************************************************************************/
.float-right {
  float: right;
  position: relative;
}
.float-left {
  float: left;
  position: relative;
}
/*Single side border-radius
**********************************************************************************************************************/
/*Transitions
**********************************************************************************************************************/
/*Box-sizing
**********************************************************************************************************************/
/*Box-shadow
**********************************************************************************************************************/
/* Retina
/*Fonts
******************************************************************************************************************************/
@font-face {
  font-family: 'reformagroteskboldcregular';
  src: url('../../style/fonts/reformagroteskboldc-webfont.eot');
  src: url('../../style/fonts/reformagroteskboldc-webfont.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/reformagroteskboldc-webfont.woff') format('woff'), url('../../style/fonts/reformagroteskboldc-webfont.ttf') format('truetype'), url('../../style/fonts/reformagroteskboldc-webfont.svg#reformagroteskboldcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'reformagroteskdemicregular';
  src: url('../../style/fonts/reformagroteskdemic-webfont.eot');
  src: url('../../style/fonts/reformagroteskdemic-webfont.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/reformagroteskdemic-webfont.woff') format('woff'), url('../../style/fonts/reformagroteskdemic-webfont.ttf') format('truetype'), url('../../style/fonts/reformagroteskdemic-webfont.svg#reformagroteskdemicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'reformagroteskmediumcregular';
  src: url('../../style/fonts/reformagroteskmediumc-webfont.eot');
  src: url('../../style/fonts/reformagroteskmediumc-webfont.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/reformagroteskmediumc-webfont.woff') format('woff'), url('../../style/fonts/reformagroteskmediumc-webfont.ttf') format('truetype'), url('../../style/fonts/reformagroteskmediumc-webfont.svg#reformagroteskmediumcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'reformagrotesklightcregular';
  src: url('../../style/fonts/reformagrotesklightc-webfont.eot');
  src: url('../../style/fonts/reformagrotesklightc-webfont.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/reformagrotesklightc-webfont.woff') format('woff'), url('../../style/fonts/reformagrotesklightc-webfont.ttf') format('truetype'), url('../../style/fonts/reformagrotesklightc-webfont.svg#reformagrotesklightcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../../style/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/ProximaNova-Bold.otf') format('opentype'), url('../../style/fonts/ProximaNova-Bold.woff') format('woff'), url('../../style/fonts/ProximaNova-Bold.ttf') format('truetype'), url('../../style/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../../style/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../../style/fonts/ProximaNova-Regular.otf') format('opentype'), url('../../style/fonts/ProximaNova-Regular.woff') format('woff'), url('../../style/fonts/ProximaNova-Regular.ttf') format('truetype'), url('../../style/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*General
******************************************************************************************************************************/
html,
body,
input,
textarea {
  font-family: 'ProximaNova-Regular', Arial, Helvetica, 'Sans-Serif';
  font-size: 14px;
  line-height: 1;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
html,
body {
  height: 100%;
  background: #888888;
  background: #f3f3f3;
}
/*Headers
******************************************************************************************************************************/
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
.title-h2 {
  font-family: 'reformagrotesklightcregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
}
.title-h2__link {
  color: #000000;
}
.title-h2__link:hover {
  color: #000000;
}
/*Structure
******************************************************************************************************************************/
#container {
  width: 1275px;
  margin: 0 auto;
  background: #ffffff;
}
.top {
  padding: 20px 0 0;
  margin: 0 10px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
  display: inline-block;
}
.title-h2__link:hover {
  color: #5bd5d6;
}
/*Structure
******************************************************************************************************************************/
.container {
  max-width: 1276px;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}
.logo {
  width: 207px;
  height: 51px;
  padding: 0 0 16px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.middle {
  position: relative;
}
.main-events__top {
  padding: 10px 0 0;
}
.main-events__title {
  padding: 0 0 4px;
  text-align: center;
}
.main-events__sub-navigation {
  margin: 0 10px;
}
.bottom {
  position: relative;
}
.main-events__title-inner {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .main-events__title {
    padding: 6px 20px 0;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
    margin-bottom: -3px;
  }
}
.main-events__sub-navigation {
  margin: 0 10px;
}
.main-events__place {
  position: absolute;
  left: 100%;
  top: 7px;
  margin-left: 20px;
  padding-left: 12px;
  display: block;
}
@media screen and (max-width: 1000px) {
  .main-events__place {
    display: none;
  }
}
.main-events__place-select-label {
  position: absolute;
  z-index: 9;
  display: block;
  left: 0;
  top: 0;
  color: #a3a3a3;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.main-events__place-select-wrapper {
  display: block;
}
.main-events__place-select {
  height: auto;
  right: auto;
  left: 13px;
  z-index: 10;
}
.main-events__place-select.hasCustomSelect {
  font-size: 14px !important;
}
.main-events__place-select.customSelect {
  z-index: 9;
  left: auto;
  white-space: nowrap;
  display: block;
  height: auto;
  padding: 0 25px 0 0;
  margin: 0;
  border: none;
  color: #a3a3a3;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
}
.main-events__place-select.customSelect:after {
  border-color: #bababa transparent transparent transparent;
  top: 50%;
  margin-top: -2px;
}
.main-events__place-select.customSelect.customSelect.customSelectHover,
.main-events__place-select.customSelect.customSelect.customSelectFocus {
  color: #000000;
}
.main-events__place-select.customSelect.customSelect.customSelectHover:after,
.main-events__place-select.customSelect.customSelect.customSelectFocus:after {
  border-color: #000000 transparent transparent transparent;
}
.bottom {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .bottom {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.bottom-logo {
  position: absolute;
  top: auto;
  right: 30px;
  bottom: 24px;
  left: auto;
  z-index: 11;
  opacity: .2;
}
.banner-1 {
  padding: 20px;
  position: relative;
  background: #000000;
  text-align: center;
}
  width: 207px;
  height: 51px;
}
.bottom-logo img {
  display: block;
}
@media screen and (max-width: 1000px) {
  .bottom-logo {
    opacity: 1;
    position: static;
    margin: 0 auto;
  }
}
.top {
  padding: 20px 0 0;
  margin: 0 10px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.top__shifter-nav-handle {
  display: none;
  float: left;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .top__shifter-nav-handle {
    display: block;
  }
}
.top__shifter-search-handle {
  display: none;
  float: right;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .top__shifter-search-handle {
    display: block;
  }
}
.top__shifter-nav-handle-ico,
.top__shifter-search-handle-ico {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #000;
  display: block;
  margin: 0 auto 3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.top__shifter-nav-handle-ico:before,
.top__shifter-search-handle-ico:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
}
.top__shifter-nav-handle-ico:before {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: 0 -68px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .top__shifter-nav-handle-ico:before {
    -moz-background-size: 15px 80px;
    -o-background-size: 15px 80px;
    -ms-background-size: 15px 80px;
    -webkit-background-size: 15px 80px;
    background-size: 15px 80px;
    background-image: url('../images/icons@2x.png');
  }
}
.sb-active-left .top__shifter-nav-handle-ico {
  background-color: #5bd5d6;
}
.top__shifter-search-handle-ico:before {
  width: 15px;
  height: 16px;
  margin-left: -7px;
  margin-top: -8px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .top__shifter-search-handle-ico:before {
    -moz-background-size: 15px 80px;
    -o-background-size: 15px 80px;
    -ms-background-size: 15px 80px;
    -webkit-background-size: 15px 80px;
    background-size: 15px 80px;
    background-image: url('../images/icons@2x.png');
  }
}
.sb-active-right .top__shifter-search-handle-ico {
  background-color: #5bd5d6;
}
.top__shifter-nav-handle-text,
.top__shifter-search-handle-text {
  display: block;
  font-size: 14px;
  line-height: 15px;
  color: #a3a3a3;
  text-align: center;
  text-transform: uppercase;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
}
.banner {
  padding: 20px;
  position: relative;
  text-align: center;
}
.banner img {
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .banner {
    padding: 10px;
  }
}
.banner-1 {
  background: #000000;
}
.banner-2 {
  background: #e6e6e6;
}
.top-enter {
  position: absolute;
  top: 21px;
  right: 9px;
  bottom: auto;
  left: auto;
  z-index: 11;
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
}
.top-enter__item {
  padding: 0 0 0 15px;
  float: left;
  position: relative;
  line-height: 31px;
}
.top-enter__link {
  color: #a3a3a3;
}
.top-enter__link:hover {
  color: #a3a3a3;
.top-enter__link:hover,
.top-enter__link:focus {
  color: #000000;
}
.top-enter__link-btn {
  height: 30px;
  margin: -1px 0;
  padding: 0 13px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  color: #000000;
}
.top-enter__link-btn:hover {
  color: #000000;
.top-enter__link-btn:hover,
.top-enter__link-btn:focus {
  color: #5bd5d6;
}
.top-navigation {
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-align: center;
}
.top-navigation__inner {
  padding: 0 0 7px;
}
.top-navigation__item {
  padding: 0 8px 10px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  text-transform: uppercase;
}
.top-navigation__link {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
}
.grid-1 {
  position: relative;
}
.grid-1:before,
.grid-1:after {
  content: " ";
  display: table;
}
.grid-1:after {
  clear: both;
}
.grid-1__col-1 {
  width: 66.66666%;
  margin: 0 -100% 0 0;
  float: left;
  position: relative;
}
.grid-1__col-2 {
  width: 33.33333%;
  float: left;
  position: relative;
  left: 66.66666%;
  z-index: 11;
}
.grid-1__col-2-bg {
  width: 33.33333%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 66.66666%;
  z-index: 10;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.grid-1__col-2-bg-grey {
  background: #f3f3f3;
}
.grid-bottom-indent {
  padding-bottom: 75px;
}
.sub-navigation {
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-align: center;
  border-bottom: 1px solid;
}
.sub-navigation--grey-border {
  border-color: #e5e5e5;
}
.sub-navigation__inner {
  margin: 0 0 -1px;
}
.sub-navigation__item {
  padding: 0 0 14px;
  margin: 0 5px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  text-transform: uppercase;
}
.sub-navigation__item-i {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
}
.sub-navigation__item--active {
  padding-bottom: 11px;
  border-bottom: 3px solid #000000;
}
.sub-navigation__link {
  color: #5bd5d6;
}
.sub-navigation__link:hover {
  color: #5bd5d6;
}
.opinions__title {
  padding: 0 27px 24px;
.top-navigation__link:hover,
.top-navigation__link:focus {
  color: #5bd5d6;
}
@font-face {
  font-family: 'fontello-star';
  src: url('../fonts/fontello.eot?77114039');
  src: url('../fonts/fontello.eot?77114039#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?77114039') format('woff'), url('../fonts/fontello.ttf?77114039') format('truetype'), url('../fonts/fontello.svg?77114039#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77114039#fontello') format('svg');
  }
}
*/
[class^="iconfont-"]:before,
[class*=" iconfont-"]:before {
  font-family: "fontello-star";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 11px;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.iconfont-star:before {
  content: '\e802';
  color: inherit;
}
/* '' */
.iconfont-star {
  margin-right: 2px;
}
.iconfont-star--white {
  color: #fff;
}
.iconfont-star--white-darken {
  color: #9d9d9d;
}
.iconfont-star--grey {
  color: #bababa;
}
.iconfont-star--grey-lighten {
  color: #d6d6d6;
}
.iconfont-star--mint {
  color: #5bd5d6;
}
@media screen and (max-width: 1000px) {
  .opinions {
    background-color: #e8e8e8;
    padding: 0 20px;
  }
}
.opinions__title {
  padding: 10px 27px 24px;
}
@media screen and (max-width: 1000px) {
  .opinions__title {
    padding: 6px 20px 0;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
  }
}
.opinions-list__item {
  padding: 0 20px 0 114px;
  margin: 0 0 29px;
  border-bottom: 1px solid #ededed;
}
.opinions-list__item--last {
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .opinions-list__item {
    padding: 0;
    background-color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .opinions-list__item {
    margin: 0;
    border-bottom: 0;
  }
}
.opinions-list__top {
  padding: 0 0 16px;
  line-height: 16px;
}
.opinions-list__top:before,
.opinions-list__top:after {
  content: " ";
  display: table;
}
.opinions-list__top:after {
  clear: both;
}
@media screen and (max-width: 1000px) {
  .opinions-list__top {
    padding: 13px 13px 11px 53px;
  }
}
.opinions-list__author {
  padding: 0 14px 0 0;
  float: left;
  position: relative;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  font-size: 16px;
}
.opinions-list__author-avatar {
  background: grey;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: block;
  position: absolute;
  top: 2px;
  left: -85px;
  z-index: 11;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.opinions-list__stars {
  float: left;
  position: relative;
  margin: 3px 8px 0 0;
@media screen and (max-width: 1000px) {
  .opinions-list__author {
    padding: 0;
    margin-bottom: 3px;
    float: none;
  }
  .opinions-list__author-avatar {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 2px;
    left: -39px;
    z-index: 11;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
  }
}
.opinions-list__stars {
  float: left;
  position: relative;
  margin: 2px 8px 0 0;
  line-height: 11px;
}
@media screen and (max-width: 1000px) {
  .opinions-list__stars {
    margin: 1px 10px 0 0;
  }
}
.opinions-list__date {
  float: left;
  position: relative;
  top: 1px;
  color: #8d8d8d;
}
@media screen and (max-width: 1000px) {
  .opinions-list__date {
    top: auto;
  }
}
.opinions-list__teaser {
  width: 370px;
  margin: 0 0 14px;
}
@media screen and (max-width: 1000px) {
  .opinions-list__teaser {
    width: auto;
    margin: 0;
  }
}
.opinions-list__article {
  padding: 0 80px 23px 0;
  display: block;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1000px) {
  .opinions-list__article {
    padding: 15px 14px 4px;
    font-size: 14px;
  }
}
.opinions-list__link--black-link {
  color: #000000;
}
.opinions-list__link--black-link:hover {
  color: #000000;
  color: #5bd5d6;
}
.opinions-list__bottom {
  padding: 0 0 26px;
}
.opinions-list__bottom:before,
.opinions-list__bottom:after {
  content: " ";
  display: table;
}
.opinions-list__bottom:after {
  clear: both;
}
@media screen and (max-width: 1000px) {
  .opinions-list__bottom {
    padding: 0 14px 11px;
  }
}
.opinions-list__comments {
  padding: 0 15px 0 0;
  float: left;
  position: relative;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
}
.opinions-list__thanks {
  float: left;
  position: relative;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
}
.teaser-1 {
  padding: 0 0 0 162px;
.opinions__list-item-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .opinions__list-item-arrow {
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: bottom;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: transparent;
    background-image: url('../images/more-text.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
@media screen and (max-width: 767px) and only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and only screen and (min--moz-device-pixel-ratio: 1.5), screen and (max-width: 767px) and only screen and (-o-min-device-pixel-ratio: 3/2), screen and (max-width: 767px) and only screen and (min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and only screen and (min-resolution: 144dpi), screen and (max-width: 767px) and only screen and (min-resolution: 1.5dppx) {
  .opinions__list-item-arrow {
    -moz-background-size: 13px 13px;
    -o-background-size: 13px 13px;
    -ms-background-size: 13px 13px;
    -webkit-background-size: 13px 13px;
    background-size: 13px 13px;
    background-image: url('../images/more-text@2x.png');
  }
}
.teaser-1 {
  width: 100%;
  max-width: 532px;
  background: #efefef;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.teaser-1__image {
  width: 162px;
  height: 112px;
  margin: 0 -100% 0 -162px;
  background: #888888;
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
}
.teaser-1__label {
@media screen and (max-width: 1000px) {
  .teaser-1 {
    max-width: none;
    width: auto;
    overflow: visible;
  }
}
.teaser-1__image {
  width: 162px;
  height: 112px;
  background: #888888;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .teaser-1__image {
    display: none;
  }
}
.teaser-1__image-inner {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('../images/mini-pic-grad.png');
  background-repeat: repeat-x;
  background-position: 0 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .teaser-1__image-inner {
    -moz-background-size: 3px auto;
    -o-background-size: 3px auto;
    -ms-background-size: 3px auto;
    -webkit-background-size: 3px auto;
    background-size: 3px auto;
    background-image: url('../images/mini-pic-grad@2x.png');
  }
}
.teaser-1__pic {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.teaser-1__label {
  height: 21px;
  padding: 0 5px;
  border: 1px solid #ffffff;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
  z-index: 11;
}
.teaser-1__description {
  padding: 12px 15px 0;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a.teaser-1__image:hover .teaser-1__label {
  color: #5bd5d6;
  border-color: #5bd5d6;
}
@media screen and (max-width: 1000px) {
  .teaser-1__label {
    display: none;
  }
}
.teaser-1__description {
  overflow: hidden;
  padding: 11px 15px 0;
}
@media screen and (max-width: 1000px) {
  .teaser-1__description {
    overflow: visible;
    padding: 11px 14px;
  }
}
.teaser-1__title {
  padding: 0 0 8px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .teaser-1__title {
    padding: 0 0 7px;
    line-height: 26px;
  }
}
.teaser-1__genre {
  padding: 0 0 5px;
  color: #838383;
  line-height: 18px;
}
.teaser-1__article {
  line-height: 17px;
}
.small-stars {
  width: 64px;
  height: 11px;
  background: url(../../style/images/small-stars_01.png) no-repeat 100% 0;
}
.small-stars__one-star {
  background-position: -54px 0;
}
.small-stars__two-stars {
  background-position: -40px 0;
}
.small-stars__three-stars {
  background-position: -27px 0;
}
.small-stars__four-stars {
  background-position: -15px 0;
}
.small-stars__five-stars {
  background-position: 0 0;
}
.tile-small {
  width: 201px;
  height: 352px;
  margin: 5px;
  position: relative;
}
.tile-small--white {
  background: #ffffff;
}
.tile-small--grey {
  background: #f3f3f3;
}
.tile-small__image {
  height: 176px;
  background: #888888;
  overflow: hidden;
  position: relative;
}
.tile-small__label {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 14px;
  left: 14px;
  z-index: 11;
}
.tile-small__description {
  padding: 0 10px 0 14px;
}
.tile-small__title {
  padding: 12px 0 10px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.tile-small__genre {
  padding: 0 0 7px;
}
.tile-small--grey .tile-small__genre {
  color: #868686;
}
.tile-small__article {
  line-height: 17px;
@media screen and (max-width: 1000px) {
  .teaser-1__genre {
    padding: 0;
    line-height: 15px;
  }
}
.teaser-1__article {
  line-height: 17px;
}
@media screen and (max-width: 1000px) {
  .teaser-1__article {
    display: none;
  }
}
.sub-navigation {
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-align: center;
  border-bottom: 1px solid;
  white-space: nowrap;
}
.sub-navigation--grey-border {
  border-color: #e5e5e5;
}
.sub-navigation--tr-border {
  border-bottom-color: transparent;
}
.sub-navigation__inner {
  margin: 0 0 -1px;
}
.sub-navigation__item {
  padding: 0 0 14px;
  margin: 0 5px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .sub-navigation__item {
    padding-bottom: 11px;
    margin: 0 4px;
  }
}
.sub-navigation__item-i {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  .sub-navigation__item-i {
    font-size: 16px;
  }
}
.sub-navigation__item--active {
  padding-bottom: 11px;
  border-bottom: 3px solid #000000;
}
.sub-navigation__link {
  color: #5bd5d6;
}
.sub-navigation__link:hover,
.sub-navigation__link:focus {
  color: #000000;
}
.label-rating {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.label-rating:before,
.label-rating:after {
  content: " ";
  display: table;
}
.label-rating:after {
  clear: both;
}
.label {
  display: block;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
}
.label-small {
  height: 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.label--small {
  height: 21px;
  padding: 0 5px;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  line-height: 21px;
}
.label-white {
  border-color: #ffffff;
  color: #ffffff;
}
.label--white {
  border-color: #ffffff;
  color: #ffffff;
}
.label--grey {
  border-color: #888888;
  color: #888888;
}
.label-mint {
  border-color: #5bd5d6;
  color: #5bd5d6;
}
.competitions__title {
  padding: 0 0 6px;
  text-align: center;
}
.competitions-list {
  overflow: hidden;
  zoom: 1;
}
.competitions-list__item {
  height: 176px;
  padding: 0 15px 0 214px;
  margin: 0 10px 10px;
  background: #ffffff;
}
.competitions-list__image {
  width: 201px;
  height: 176px;
  margin: 0 -100% 0 -214px;
  float: left;
  position: relative;
  display: block;
  background: #888888;
}
.competitions-list__description {
  float: left;
  position: relative;
}
.competitions-list__title {
  padding: 12px 0 9px;
.label + * {
  margin-left: 10px;
}
@media screen and (max-width: 1000px) {
  .competitions {
    background-color: #fff;
  }
}
.competitions__title {
  padding: 10px 0 6px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .competitions__title {
    padding: 6px 20px 0;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
  }
}
.competitions-list__item {
  overflow: hidden;
  height: 176px;
  padding: 0;
  margin: 0 10px 10px;
  background: #ffffff;
}
@media screen and (max-width: 1000px) {
  .competitions-list__item {
    height: 362px;
    width: 201px;
    float: left;
    position: relative;
    margin: 10px 5px;
    background-color: #efefef;
  }
}
@media screen and (max-width: 767px) {
  .competitions-list__item {
    margin-left: 10px;
  }
}
.competitions-list__image {
  height: 176px;
  display: block;
  background: #888888;
  overflow: hidden;
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .competitions-list__image img {
    margin-left: -30%;
  }
}
@media screen and (max-width: 1000px) {
  .competitions-list__image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .competitions-list__image img {
    margin: 0;
  }
}
.competitions-list__description {
  overflow: hidden;
  padding: 11px 10px 15px 13px;
  float: right;
  position: relative;
  width: 200px;
}
@media screen and (max-width: 1000px) {
  .competitions-list__description {
    background-color: #efefef;
    padding: 187px 11px 11px 13px;
    width: 100%;
    float: none;
  }
}
.competitions-list__title {
  margin-bottom: 9px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.competitions-list__title-link {
  color: #000000;
}
.competitions-list__title-link:hover {
  color: #5bd5d6;
}
.competitions-list__article {
  line-height: 17px;
  color: #8d8d8d;
}
.bottom-site-map {
  padding: 27px 8px 22px 28px;
  overflow: hidden;
  zoom: 1;
}
.bottom-site-map__list {
  width: 15.4%;
@media screen and (max-width: 1000px) {
  .bottom-site-map {
    padding: 17px 40px 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
}
.bottom-site-map__list {
  width: 12.8%;
  float: left;
  position: relative;
}
.bottom-site-map__list:last-child {
  width: 7.6%;
  text-align: right;
}
  width: 10.3%;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .bottom-site-map__list {
    display: inline-block;
    float: none;
    width: auto;
    vertical-align: top;
    margin: 0 15px 8px 0;
  }
  .bottom-site-map__list:last-child {
    width: auto;
  }
}
.bottom-site-map__title {
  padding: 0 20px 9px 0;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 24px;
  text-transform: uppercase;
}
.bottom-site-map__title-link {
  color: #000000;
}
.bottom-site-map__title-link:hover {
  color: #000000;
  color: #5bd5d6;
}
@media screen and (max-width: 1000px) {
  .bottom-site-map__title {
    padding: 0;
    font-size: 16px;
    line-height: 17px;
  }
}
.bottom-site-map__item {
  padding: 0 20px 0 0;
  line-height: 22px;
}
.bottom-site-map__item-link {
  color: #8d8d8d;
}
.bottom-site-map__item-link:hover {
  color: #8d8d8d;
  color: #000000;
}
@media screen and (max-width: 1000px) {
  .bottom-site-map__item {
    display: none;
  }
}
.bottom-navigation {
  padding: 0 0 22px 28px;
}
@media screen and (max-width: 1000px) {
  .bottom-navigation {
    padding: 17px 10px 16px;
  }
}
.bottom-navigation__list {
  width: 50%;
  overflow: hidden;
  zoom: 1;
}
@media screen and (max-width: 1000px) {
  .bottom-navigation__list {
    width: 100%;
    text-align: center;
  }
}
.bottom-navigation__item {
  padding: 0 15px 4px 0;
  float: left;
  position: relative;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  .bottom-navigation__item {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0 10px 1px 0;
    font-size: 12px;
    line-height: 12px;
    font-family: 'ProximaNova-Regular', Arial, Helvetica, 'Sans-Serif';
    text-transform: none;
    letter-spacing: normal;
  }
}
.bottom-navigation__link {
  color: #a3a3a3;
}
.bottom-navigation__link:hover {
  color: #a3a3a3;
  color: #000000;
}
.tile-small__image {
  height: 176px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}
.tile-small__image-inner {
  height: 100%;
  width: 100%;
  padding-bottom: 46px;
  position: relative;
  background-image: url('../images/mini-pic-grad.png');
  background-repeat: repeat-x;
  background-position: 0 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .tile-small__image-inner {
    -moz-background-size: 3px auto;
    -o-background-size: 3px auto;
    -ms-background-size: 3px auto;
    -webkit-background-size: 3px auto;
    background-size: 3px auto;
    background-image: url('../images/mini-pic-grad@2x.png');
  }
}
.tile-small__image-no {
  height: auto;
  background: none;
  background-color: transparent;
}
.tile-small__image-no .label {
  border-color: #888888;
  color: #888888;
}
.tile-small__image-no .iconfont-star--white {
  color: #bababa;
}
.tile-small__image-no .iconfont-star--white-darken {
  color: #d6d6d6;
}
.tile-small__image-no .tile-small__label-rating {
  bottom: 11px;
}
.tile-small__image-no .tile-small__image-inner {
  height: auto;
  background: none;
  background-color: transparent;
}
.tile-small__pic {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.tile-small__label-rating {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 14px;
  left: 14px;
  z-index: 11;
}
.tile-small__label-rating:before,
.tile-small__label-rating:after {
  content: " ";
  display: table;
}
.tile-small__label-rating:after {
  clear: both;
}
.tile-small__description {
  padding: 12px 10px 0 14px;
}
.tile-small__title {
  margin-bottom: 10px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.tile-small__genre {
  padding: 0 0 7px;
  color: #868686;
  font-size: 13px;
  line-height: 15px;
}
.tile-small__article {
  line-height: 17px;
}
.tile-small__more-link {
  display: none;
  width: 25px;
  height: 21px;
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 127px;
  left: auto;
  z-index: 12;
  background-image: url('../images/go.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .tile-small__more-link {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.tile-small__more-link:hover {
  background-image: url('../images/go.png');
  background-repeat: no-repeat;
  background-position: 0 -31px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .tile-small__more-link:hover {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.tile-small__nav {
  background-color: #262626;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  display: none;
  list-style: none outside none;
}
.tile-small__nav-item {
  display: block;
}
.tile-small__nav-link {
  display: block;
  height: 39px;
  padding: 0 15px 0 14px;
}
.tile-small__nav-link:hover {
  background-color: #353535;
}
.tile-small__nav-link span {
  color: #5bd5d6;
  display: block;
  font-size: 12px;
  line-height: 38px;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  border-bottom: 1px solid #353535;
}
.tile-small__nav-link--last span {
  border-bottom-color: transparent;
}
@media screen and (min-width: 1000px) {
  .tile-small:hover .recent-events__date {
    display: none;
  }
  .tile-small:hover .tile__inner {
    background-color: #000;
  }
  .tile-small:hover .tile-small__image {
    height: auto;
    background-color: transparent;
  }
  .tile-small:hover .tile-small__image-inner {
    height: auto;
    padding-bottom: 51px;
    background: none;
    background-color: transparent;
  }
  .tile-small:hover .tile-small__image-no .label {
    border-color: #ffffff;
    color: #ffffff;
  }
  .tile-small:hover .tile-small__image-no .iconfont-star--white {
    color: #bababa;
  }
  .tile-small:hover .tile-small__image-no .iconfont-star--white-darken {
    color: #d6d6d6;
  }
  .tile-small:hover .tile-small__pic {
    display: none;
  }
  .tile-small:hover .tile-small__label-rating {
    bottom: 16px;
  }
  .tile-small:hover .tile-small__description {
    padding-top: 0;
  }
  .tile-small:hover .tile-small__title {
    margin-bottom: 9px;
    line-height: 24px;
    color: #fff;
  }
  .tile-small:hover .tile-small__title a {
    color: #fff;
  }
  .tile-small:hover .tile-small__title a:hover {
    color: #5bd5d6;
  }
  .tile-small:hover .tile-small__genre {
    color: #a3a3a3;
  }
  .tile-small:hover .tile-small__article {
    color: #fff;
  }
  .tile-small:hover .tile-small__more-link,
  .tile-small:hover .tile-small__nav {
    display: block;
  }
}
.tile-small-double__image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  background-image: url('../images/big-pic-grad.png');
  background-repeat: repeat-x;
  background-position: 0 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .tile-small-double__image {
    -moz-background-size: 3px auto;
    -o-background-size: 3px auto;
    -ms-background-size: 3px auto;
    -webkit-background-size: 3px auto;
    background-size: 3px auto;
    background-image: url('../images/big-pic-grad@2x.png');
  }
}
.tile-small-double__pic {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1292px) {
  .tile-small-double-slide .tile-small-double__pic {
    left: -65%;
  }
}
@media screen and (max-width: 1000px) {
  .tile-small-double-masonry .tile-small-double__pic {
    left: -65%;
  }
}
.tile-small-double__label-rating {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 30px;
  z-index: 11;
}
@media screen and (max-width: 1292px) {
  .tile-small-double-slide .tile-small-double__label-rating {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 16px;
    left: 16px;
    z-index: 11;
  }
}
@media screen and (max-width: 1000px) {
  .tile-small-double-masonry .tile-small-double__label-rating {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 16px;
    left: 16px;
    z-index: 11;
  }
}
.tile-small-double__title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  font-family: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 60px;
  line-height: 58px;
  font-weight: normal;
  color: #fff;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 46px;
  left: 0;
  z-index: 12;
}
.tile-small-double__title a {
  color: #fff;
}
@media screen and (max-width: 1292px) {
  .tile-small-double-slide .tile-small-double__title {
    bottom: 42px;
    padding: 0 16px;
    font-size: 40px;
    line-height: 39px;
  }
}
@media screen and (max-width: 1000px) {
  .tile-small-double-masonry .tile-small-double__title {
    bottom: 42px;
    padding: 0 16px;
    font-size: 40px;
    line-height: 39px;
  }
}
.tile-small-double__genre,
.tile-small-double__article,
.tile-small-double__more-link,
.tile-small-double__nav {
  display: none;
}
@media screen and (min-width: 1000px) {
  .tile-small-double:hover .tile__inner {
    background-color: #000;
    padding: 25px 60px 0 30px;
  }
  .tile-small-double:hover .tile-small-double__image {
    background: none;
  }
  .tile-small-double:hover .tile-small-double__pic {
    display: none;
  }
  .tile-small-double:hover .tile-small-double__label-rating {
    margin-bottom: 12px;
    position: static;
  }
  .tile-small-double:hover .tile-small-double__label-rating:before,
  .tile-small-double:hover .tile-small-double__label-rating:after {
    content: " ";
    display: table;
  }
  .tile-small-double:hover .tile-small-double__label-rating:after {
    clear: both;
  }
  .tile-small-double:hover .tile-small-double__title {
    position: static;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
    font-family: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
    font-size: 60px;
    line-height: 58px;
    font-weight: normal;
    color: #fff;
  }
  .tile-small-double:hover .tile-small-double__title a {
    color: #fff;
  }
  .tile-small-double:hover .tile-small-double__title a:hover {
    color: #5bd5d6;
  }
  .tile-small-double:hover .tile-small-double__genre {
    display: block;
    margin-bottom: 13px;
    color: #868686;
    font-size: 13px;
    line-height: 17px;
  }
  .tile-small-double:hover .tile-small-double__article {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
  }
  .tile-small-double:hover .tile-small-double__more-link {
    display: block;
    width: 25px;
    height: 21px;
    position: absolute;
    top: auto;
    right: 20px;
    bottom: 70px;
    left: auto;
    z-index: 12;
    background-image: url('../images/go.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .tile-small-double:hover .tile-small-double__more-link:hover {
    background-image: url('../images/go.png');
    background-repeat: no-repeat;
    background-position: 0 -31px;
  }
  .tile-small-double:hover .tile-small-double__nav {
    background-color: #262626;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    display: block;
    list-style: none outside none;
  }
  .tile-small-double:hover .tile-small-double__nav-item {
    float: left;
    position: relative;
    width: 33.33333%;
  }
  .tile-small-double:hover .tile-small-double__nav-link {
    display: block;
    height: 48px;
    padding: 4px 0;
    text-align: center;
  }
  .tile-small-double:hover .tile-small-double__nav-link:hover {
    background-color: #353535;
  }
  .tile-small-double:hover .tile-small-double__nav-link span {
    color: #5bd5d6;
    display: block;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
    border-right: 1px solid #353535;
  }
  .tile-small-double:hover .tile-small-double__nav-link--last span {
    border-right-color: transparent;
  }
}
@media screen and (min-width: 1000px) and only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (min--moz-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (-o-min-device-pixel-ratio: 3/2), screen and (min-width: 1000px) and only screen and (min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (min-resolution: 144dpi), screen and (min-width: 1000px) and only screen and (min-resolution: 1.5dppx) {
  .tile-small-double:hover .tile-small-double__more-link {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
@media screen and (min-width: 1000px) and only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (min--moz-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (-o-min-device-pixel-ratio: 3/2), screen and (min-width: 1000px) and only screen and (min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and only screen and (min-resolution: 144dpi), screen and (min-width: 1000px) and only screen and (min-resolution: 1.5dppx) {
  .tile-small-double:hover .tile-small-double__more-link:hover {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
@media screen and (min-width: 1000px) and (max-width: 1292px) {
  .tile-small-double-slide:hover .tile__inner {
    background-color: #000;
    padding: 0;
  }
  .tile-small-double-slide:hover .tile-small-double__pic {
    display: none;
  }
  .tile-small-double-slide:hover .tile-small-double__image {
    height: auto;
    background-color: transparent;
    padding-top: 51px;
  }
  .tile-small-double-slide:hover .tile-small-double__label-rating {
    top: 14px;
    left: 14px;
    bottom: auto;
    position: absolute;
  }
  .tile-small-double-slide:hover .tile-small-double__title {
    margin-bottom: 9px;
    padding-right: 10px;
    padding-left: 14px;
    line-height: 24px;
    color: #fff;
    font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
    font-size: 24px;
    text-transform: uppercase;
  }
  .tile-small-double-slide:hover .tile-small-double__title a {
    color: #fff;
  }
  .tile-small-double-slide:hover .tile-small-double__genre {
    color: #a3a3a3;
    padding: 0 0 7px;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding-right: 10px;
    padding-left: 14px;
  }
  .tile-small-double-slide:hover .tile-small-double__genre br {
    display: none;
  }
  .tile-small-double-slide:hover .tile-small-double__article {
    color: #fff;
    padding-right: 10px;
    padding-left: 14px;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
  .tile-small-double-slide:hover .tile-small-double__more-link {
    width: 25px;
    height: 21px;
    position: absolute;
    top: auto;
    right: 10px;
    bottom: 127px;
    left: auto;
    z-index: 12;
    background-image: url('../images/go.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .tile-small-double-slide:hover .tile-small-double__nav {
    background-color: #262626;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    list-style: none outside none;
  }
  .tile-small-double-slide:hover .tile-small-double__nav-item {
    display: block;
    float: none;
    width: 100%;
  }
  .tile-small-double-slide:hover .tile-small-double__nav-link {
    display: block;
    height: 39px;
    padding: 0 15px 0 14px;
    text-align: left;
  }
  .tile-small-double-slide:hover .tile-small-double__nav-link:hover {
    background-color: #353535;
  }
  .tile-small-double-slide:hover .tile-small-double__nav-link span {
    color: #5bd5d6;
    display: block;
    font-size: 12px;
    line-height: 38px;
    font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
    border-bottom: 1px solid #353535;
    border-right: 0;
  }
  .tile-small-double-slide:hover .tile-small-double__nav-link--last span {
    border-bottom-color: transparent;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (min--moz-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (-o-min-device-pixel-ratio: 3/2), screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (min-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (min-resolution: 144dpi), screen and (min-width: 1000px) and (max-width: 1292px) and only screen and (min-resolution: 1.5dppx) {
  .tile-small-double-slide:hover .tile-small-double__more-link {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.tile__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.tile__inner--grey {
  background: #f3f3f3;
}
.tile__inner--black {
  background: #000;
}
.tile__inner--white {
  background: #ffffff;
}
.tile-top-rate__image {
  height: 140px;
  width: 140px;
  display: block;
  margin: 30px auto 20px;
  background: #888888;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.tile-top-rate__image img {
  display: block;
}
.tile-top-rate__label-rating {
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .tile-top-rate__label-rating {
    margin-bottom: 21px;
  }
}
.tile-top-rate__label {
  display: inline-block !important;
}
.tile-top-rate__title {
  padding: 0 20px;
  color: #fff;
  font-family: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 60px;
  line-height: 58px;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .tile-top-rate__title {
    padding: 0 10px;
    font-size: 40px;
    line-height: 39px;
  }
}
.tile-top-rate .tile__inner {
  display: block;
}
.tile-top-rate .tile__inner:hover .tile-top-rate__title {
  color: #5bd5d6;
}
.tile-double-banner__banner {
  display: block;
  margin: 60px auto 0;
}
.tile-double-banner-table {
  text-align: center;
  vertical-align: top;
}
.tile-double-banner-table__wrap {
  width: 100%;
  padding-top: 60px;
}
.tile-double-banner-table__banner {
  max-width: 100%;
  height: auto;
}
.get-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 23px;
  height: 73px;
  padding-bottom: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.get-more *,
.get-more *:after,
.get-more *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.get-more__link {
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 22px;
  line-height: 26px;
  position: relative;
  display: inline-block;
  padding-right: 34px;
  text-transform: uppercase;
  color: #5bd5d6;
}
.get-more__link:hover,
.get-more__link:focus {
  color: #000000;
}
.get-more__link:hover .get-more__arrow,
.get-more__link:focus .get-more__arrow {
  background-image: url('../images/go.png');
  background-repeat: no-repeat;
  background-position: 0 -62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .get-more__link:hover .get-more__arrow,
  .get-more__link:focus .get-more__arrow {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.get-more__link.dark-bg:hover,
.get-more__link.dark-bg:focus {
  color: #ffffff;
}
.get-more__link.dark-bg:hover .get-more__arrow,
.get-more__link.dark-bg:focus .get-more__arrow {
  background-image: url('../images/go.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .get-more__link.dark-bg:hover .get-more__arrow,
  .get-more__link.dark-bg:focus .get-more__arrow {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.get-more__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 25px;
  height: 21px;
  margin-top: -10px;
  background-image: url('../images/go.png');
  background-repeat: no-repeat;
  background-position: 0 -31px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .get-more__arrow {
    -moz-background-size: 25px auto;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
    background-image: url('../images/go@2x.png');
  }
}
.people__title-link {
  color: #ffffff;
}
.people__title-link:hover,
.people__title-link:focus {
  color: #5bd5d6;
}
.recent-events__date {
  position: absolute;
  top: 0;
  left: 14px;
  background-color: #5bd5d6;
  padding: 7px 6px 6px;
  width: 44px;
  height: 44px;
}
.recent-events__day {
  text-align: center;
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 17px;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  color: #fff;
}
.recent-events__month {
  text-align: center;
  display: block;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  color: #378788;
}
.reviews {
  background: #262626;
  text-align: center;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .reviews {
    padding-bottom: 25px;
  }
}
.reviews__title {
  padding: 11px 20px 7px;
}
.reviews__title-link {
  color: #ffffff;
}
.reviews__title-link:hover {
  color: #5bd5d6;
}
@media screen and (max-width: 1000px) {
  .reviews__title {
    padding: 6px 20px 0;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
  }
}
.reviews__hr {
  border-bottom: 1px solid #353535;
  margin: 0 27.2%;
  display: block;
  font-size: 0;
  line-height: 0;
}
.reviews__item {
  padding: 6px 0 0;
}
.reviews__label {
  display: inline-block !important;
}
.reviews__article {
  padding: 10px 30px 13px;
  color: #aaa;
  line-height: 20px;
}
.reviews__item-title {
  padding: 12px 20px 9px;
  font-family: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.reviews__item-title-link {
  color: #ffffff;
}
.reviews__item-title-link:hover {
  color: #5bd5d6;
}
.reviews__item-title.toggled-on .reviews__item-title-link {
  color: #5bd5d6;
}
.reviews__item-title.toggled-on .reviews__item-title-link:hover {
  color: #5bd5d6;
}
.slider-arrow {
  display: block;
  width: 47px;
  height: 47px;
}
.slider-arrow--left {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--left {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--left:hover {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: 0 -67px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--left:hover {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--left-blue {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: 0 -67px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--left-blue {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--left-blue:hover {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: 0 -134px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--left-blue:hover {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--right {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: -57px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--right {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--right:hover {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: -57px -67px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--right:hover {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--right-blue {
  background-position: right bottom;
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: -57px -67px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--right-blue {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider-arrow--right-blue:hover {
  background-image: url('../images/slider-arrows.png');
  background-repeat: no-repeat;
  background-position: -57px -134px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .slider-arrow--right-blue:hover {
    -moz-background-size: 104px auto;
    -o-background-size: 104px auto;
    -ms-background-size: 104px auto;
    -webkit-background-size: 104px auto;
    background-size: 104px auto;
    background-image: url('../images/slider-arrows@2x.png');
  }
}
.slider {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .slider__mobile-container .caroufredsel_wrapper {
    width: 633px !important;
  }
}
.slider__title {
  line-height: 88px;
  margin-bottom: -5px;
  padding: 5px 140px 0 25px;
}
@media screen and (max-width: 1000px) {
  .slider__title {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 0;
    padding: 6px 20px 0;
    text-align: center;
  }
}
.slider__nav {
  position: absolute;
  right: 29px;
  top: 24px;
}
.slider__nav:before,
.slider__nav:after {
  content: " ";
  display: table;
}
.slider__nav:after {
  clear: both;
}
@media screen and (max-width: 1000px) {
  .slider__nav {
    display: none;
  }
}
.slider__slide-conainer {
  overflow: hidden;
}
.slider__item-prev,
.slider__item-next {
  float: left;
}
@media screen and (max-width: 767px) {
  .slider__mobile-item {
    float: left;
    position: relative;
  }
}
.slider__item-next {
  margin-left: 10px;
}
.slider__pagination {
  display: none !important;
  padding: 6px 0 10px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .slider__pagination {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) {
  .slider__pagination-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .slider__pagination-mobile {
    display: block !important;
  }
}
.slider__pagination a {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}
.slider__pagination a span {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #000000;
  text-indent: -100px;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slider__pagination a.selected span {
  background: #5bd5d6;
}
.slider__pagination--white a span {
  background-color: #fff;
}
.map {
  position: relative;
}
.map__title {
  padding-top: 9px;
  font-size: 80px;
  line-height: 87px;
  margin-bottom: -2px;
  text-align: center;
  color: #000;
  font-family: 'reformagrotesklightcregular', Arial, Helvetica, 'Sans-Serif';
}
@media screen and (max-width: 1000px) {
  .map__title {
    padding: 6px 120px 0 20px;
    font-size: 60px;
    line-height: 65px;
    text-align: left;
  }
}
.map__container {
  height: 382px;
  width: 100%;
  background-color: #e6e6e6;
}
@media screen and (max-width: 1000px) {
  .map__container {
    height: 256px;
  }
}
@media screen and (max-width: 1000px) {
  .map__navigation {
    display: none;
  }
}
.map__select-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
  display: none;
}
@media screen and (max-width: 1000px) {
  .map__select-wrapper {
    display: block;
  }
}
.map__select {
  z-index: 10;
  height: auto;
  right: 0;
}
.map__select.customSelect {
  z-index: 9;
  height: auto;
  border: none;
  color: #5bd5d6;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  text-transform: uppercase;
}
.map__select.customSelect:after {
  border-color: #5bd5d6 transparent transparent transparent;
}
.top-search {
  position: relative;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.top-search__inner {
  position: absolute;
  top: 0px;
  left: 10px;
}
.top-search__input {
  width: 92px;
  height: 18px;
  padding: 6px 12px 6px 14px;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  vertical-align: middle;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.top-search__input::-webkit-input-placeholder {
  color: #a3a3a3;
  line-height: 18px;
}
.top-search__input::-moz-placeholder {
  color: #a3a3a3;
  line-height: 18px;
}
.top-search__input:-moz-placeholder {
  color: #a3a3a3;
  line-height: 18px;
}
.top-search__input:-ms-input-placeholder {
  color: #a3a3a3;
  line-height: 18px;
}
.top-search__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.top-search__input:focus::-moz-placeholder {
  color: transparent;
}
.top-search__input:focus:-moz-placeholder {
  color: transparent;
}
.top-search__input:focus:-ms-input-placeholder {
  color: transparent;
}
.top-search__button {
  margin: 1px 0 0 6px;
  float: left;
  border: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #5bd5d6;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.top-search__button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
  width: 15px;
  height: 16px;
  margin-left: -7px;
  margin-top: -8px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .top-search__button:before {
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -ms-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
    background-image: url('../images/icons@2x.png');
  }
}
.top-search__button:hover,
.top-search__button:focus {
  background-color: #000;
}
.top-search__select {
  cursor: pointer;
  z-index: 112;
}
.top-search__select--wide.hasCustomSelect {
  min-width: 80px;
}
.top-search__no-radius {
  float: left;
  border: 1px solid #d9d9d9;
}
.top-search__left-radius {
  float: left;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.top-search__right-radius {
  float: left;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.rating-leisure-time {
  display: block;
  padding: 25px 0 40px 0;
  text-align: center;
  background-color: #fff;
  height: 100%;
}
.rating-leisure-time__title-h2 {
  padding: 0 0 5px 0;
  font-family: 'reformagrotesklightcregular', Arial, Helvetica, 'Sans-Serif';
  font-size: 80px;
  line-height: 70px;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (max-width: 1000px) {
  .rating-leisure-time__title-h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
.rating-leisure-time__title-small {
  font-size: 28px;
  line-height: 30px;
  font-family: 'reformagroteskmediumcregular', Arial, Helvetica, 'Sans-Serif';
  color: #000;
  text-transform: uppercase;
}
.rating-leisure-time__txt {
  font-family: 'ProximaNova-Regular', Arial, Helvetica, 'Sans-Serif';
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
}
.rating-leisure-time__line {
  display: inline-block;
  margin: 16px 0 13px 0;
  height: 0;
  border-bottom: 1px solid #d9d9d9;
  width: 49%;
  text-align: center;
}
.rating-leisure-time:hover .rating-leisure-time__title-h2,
.rating-leisure-time:focus .rating-leisure-time__title-h2,
.rating-leisure-time:hover .rating-leisure-time__title-small,
.rating-leisure-time:focus .rating-leisure-time__title-small {
  color: #5bd5d6;
}
.rating-leisure-tabs {
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .rating-leisure-tabs__container {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
  }
}
.rating-leisure-tabs__title {
  display: none;
}
@media screen and (max-width: 767px) {
  .rating-leisure-tabs__title {
    display: block;
    padding: 2px 20px 0;
    font-size: 60px;
    font-family: 'reformagrotesklightcregular', Arial, Helvetica, 'Sans-Serif';
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -2px;
    color: #fff;
  }
}
.rating-leisure-tabs__nav {
  display: none;
  text-align: center;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .rating-leisure-tabs__nav {
    display: block;
  }
}
.rating-leisure-tabs__nav-i {
  display: inline-block;
  margin: 0 5px -3px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  line-height: 18px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
}
.rating-leisure-tabs__nav-i a {
  color: #fff;
  display: block;
}
.rating-leisure-tabs__nav-i a:hover,
.rating-leisure-tabs__nav-i a:focus {
  color: #5bd5d6;
}
.rating-leisure-tabs__nav-i--current {
  border-bottom: 3px solid #5bd5d6;
}
.rating-leisure-tabs__nav-i--current a {
  color: #5bd5d6;
  cursor: default;
}
@media screen and (max-width: 767px) {
  .rating-leisure-tab {
    border: 0 !important;
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .rating-leisure-tab--show {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .rating-leisure-tab__title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .rating-leisure-tab__line--first {
    display: none;
  }
}
.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  top: 0;
  z-index: 0;
  /* Slidebars sit behind sb-site. */
  display: none;
  /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  background-color: #222222;
  /* Default Slidebars background colour, overwrite this with your own css. */
  -webkit-transform: translate(0px);
  /* Fixes issues with translated and z-indexed elements on iOS 7. */
}
@media screen and (max-width: 1000px) {
  #sb-site,
  .sb-site-container,
  .sb-slidebar {
    /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    /* Stops horizontal scrolling. */
  }
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    height: auto;
    position: relative;
    /* Required for static Slidebars to function properly. */
  }
  /* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
  html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden;
  }
  /* ----------
     * 002 - Site
     */
  #sb-site,
  .sb-site-container {
    /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
    width: 100%;
    position: relative;
    z-index: 1;
    /* Site sits above Slidebars */
    background-color: #ffffff;
    /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
  }
  /* ---------------
     * 003 - Slidebars
     */
  .sb-left {
    left: 0;
    /* Set Slidebar to the left. */
  }
  .sb-right {
    right: 0;
    /* Set Slidebar to the right. */
  }
  html.sb-static .sb-slidebar,
  .sb-slidebar.sb-static {
    position: absolute;
    /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
  }
  .sb-slidebar.sb-active {
    display: block;
    /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  }
  .sb-style-overlay {
    z-index: 9999;
    /* Set z-index high to ensure it overlays any other site elements. */
  }
  .sb-momentum-scrolling {
    -webkit-overflow-scrolling: touch;
  }
  /* Slidebar widths for browsers/devices that don't support media queries. */
  .sb-slidebar {
    width: 30%;
  }
  .sb-width-thin {
    width: 15%;
  }
  .sb-width-wide {
    width: 45%;
  }
  /* ---------------
     * 004 - Animation
     */
  .sb-slide,
  #sb-site,
  .sb-site-container,
  .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden;
    /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
  }
  /* --------------------
     * 005 - Helper Classes
     */
  .sb-hide {
    display: none;
    /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
  }
}
.shifter-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #202020;
  padding-top: 17px;
}
.shifter-navigation *,
.shifter-navigation *:after,
.shifter-navigation *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shifter-navigation__inner {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px;
}
.shifter-navigation__item {
  display: block;
  margin-bottom: 16px;
}
.shifter-navigation__link {
  padding-left: 15px;
  display: inline-block;
  font-size: 22px;
  line-height: 16px;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
  color: #fff;
  border-left: 4px solid transparent;
  vertical-align: top;
}
.shifter-navigation__link:hover,
.shifter-navigation__link:focus,
.shifter-navigation__link--current {
  color: #5bd5d6;
  border-left-color: #5bd5d6;
}
.shifter-navigation__select-container {
  padding-left: 19px;
}
.shifter-navigation__select-container:before,
.shifter-navigation__select-container:after {
  content: " ";
  display: table;
}
.shifter-navigation__select-container:after {
  clear: both;
}
.shifter-navigation__label {
  margin-right: 3px;
  float: left;
  position: relative;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 19px;
  color: #7e7e7e;
}
.shifter-navigation__select-wrap {
  float: left;
  position: relative;
}
.shifter-navigation__select {
  z-index: 50;
  height: 19px;
  width: auto !important;
  cursor: pointer;
}
.shifter-navigation .customSelect {
  z-index: 40;
  padding: 0 25px 0 3px;
  border: 0;
  background-color: transparent;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 19px;
  color: #7e7e7e;
}
.shifter-navigation .customSelect:after {
  border-top-color: #676767;
  top: 50%;
  margin-top: -2px;
}
.shifter-navigation__access,
.shifter-navigation__pusher {
  padding-left: 19px;
  height: 50px;
  position: relative;
  margin: 0;
  padding-top: 15px;
}
.shifter-navigation__access:before,
.shifter-navigation__pusher:before,
.shifter-navigation__access:after,
.shifter-navigation__pusher:after {
  content: " ";
  display: table;
}
.shifter-navigation__access:after,
.shifter-navigation__pusher:after {
  clear: both;
}
.shifter-navigation__access-link {
  float: left;
  position: relative;
  margin-right: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #7e7e7e;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
}
.shifter-search {
  padding: 20px;
}
.shifter-search__item {
  display: block;
  margin-bottom: 10px;
}
.shifter-search__field {
  display: block;
  width: 100%;
  padding: 7px 25px 7px 11px;
  border: 0;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #000;
}
.shifter-search__select {
  z-index: 50;
  height: 34px;
  width: 176px !important;
  cursor: pointer;
}
.shifter-search .customSelect {
  z-index: 40;
  float: none;
  display: block !important;
  padding: 7px 25px 7px 11px;
  border: 0;
  width: 100% !important;
  font-family: 'reformagroteskdemicregular', Arial, Helvetica, 'Sans-Serif';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #000;
}
.shifter-search .customSelect:after {
  border-top-color: #808080;
  top: 50%;
  margin-top: -2px;
}
.shifter-search__button {
  padding: 0 17px;
  cursor: pointer;
  display: inline-block;
  color: #5bd5d6;
  font-family: 'ProximaNova-Bold', Arial, Helvetica, 'Sans-Serif';
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  border: 1px solid #414141;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
}
.grid-1 {
  position: relative;
}
.grid-1:before,
.grid-1:after {
  content: " ";
  display: table;
}
.grid-1:after {
  clear: both;
}
.grid-1__col-1 {
  width: 853px;
  margin: 0 -100% 0 0;
  float: left;
  position: relative;
}
.grid-1__col-2 {
  width: 422px;
  float: left;
  position: relative;
  left: 853px;
  z-index: 11;
}
.grid-1__col-2-bg-grey {
  background: #f3f3f3;
}
.grid-bottom-indent {
  padding-bottom: 75px;
}
.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid *,
.grid *:after,
.grid *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid--black {
  background-color: #000;
}
.grid--grey {
  background-color: #f3f3f3;
}
.grid--dark {
  background-color: #262626;
}
[class*='grid-col-'],
[class*='grid-col-'] {
  float: left;
  position: relative;
}
[class*='grid-col-'] *,
[class*='grid-col-'] *,
[class*='grid-col-'] *:after,
[class*='grid-col-'] *:after,
[class*='grid-col-'] *:before,
[class*='grid-col-'] *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-col--right {
  float: right;
}
.grid-col--white {
  background-color: #fff;
}
.grid-col--green {
  background-color: green;
}
.grid-col-5-of-6 {
  width: 83.33333%;
}
.grid-col-4-of-6 {
  width: 66.93%;
}
.grid-col-3-of-6 {
  width: 50%;
}
.grid-col-2-of-6 {
  width: 33.07%;
}
.grid-col-1-of-6 {
  width: 16.66666%;
}
.grid-col-fixed-4-of-6 {
  width: 854px;
}
.grid-col-fixed-2-of-6 {
  width: 422px;
}
.grid-col-fixed-1-of-6 {
  width: 211px;
}
@media screen and (max-width: 1000px) {
  .mobile-grid-col-fixed-1-of-6 {
    width: 211px;
  }
}
@media screen and (max-width: 1292px) {
  .tablet-grid-col-fixed-1-of-6 {
    width: 211px;
  }
}
.grid-item-height-1x {
  height: 362px;
}
.grid-item-height-2x {
  height: 724px;
}
.grid-table {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
@media screen and (max-width: 767px) {
  .grid-table {
    display: block;
  }
}
.grid-table-col--white {
  background-color: #fff;
}
.grid-table-col--bd {
  border-width: 5px;
  border-style: solid;
}
.grid-table-col--black-bd {
  border-color: #000;
}
[class*='grid-table-col-'] {
  display: table-cell;
  padding: 0;
}
.grid-table-col--bd {
  border-width: 5px;
  border-style: solid;
}
.grid-table-col-5-of-6 {
  width: 83.33333%;
}
.grid-table-col-4-of-6 {
  width: 66.93%;
}
.grid-table-col-3-of-6 {
  width: 50%;
}
.grid-table-col-2-of-6 {
  width: 33.07%;
}
.grid-table-col-1-of-6 {
  width: 16.66666%;
}
.grid-row {
  display: table-row;
}
/* Paddings and margins */
.p5 {
  padding: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .mobile-no-padding {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .mobile-pl10-only {
    padding-left: 10px;
    padding-right: 0;
  }
}
.neg-mt5 {
  margin-top: -5px;
}
.neg-mt10 {
  margin-top: -10px;
}
@media screen and (max-width: 1000px) {
  .neg-mt10 {
    margin-top: 0;
  }
}
.neg-mb5 {
  margin-bottom: -5px;
}
.has-more {
  padding-bottom: 73px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .has-more {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile-full-width {
    display: block;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .tablet-full-width {
    display: block;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .mobile-hide {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}
.blank-block {
  background-color: transparent;
}
